In [1]:
import pandas as pd
from pandas.tseries.offsets import BDay 
import requests
from bs4 import BeautifulSoup
from datetime import date, timedelta 
import time

#Alpha_Vantage is a stock data provider.  This library makes api calls much easier 
import alpha_vantage
from alpha_vantage.timeseries import TimeSeries

## First, we'll read in the data output by the scraper and do any cleaning that didn't survive the "to_csv" part of the last notebook.

In [2]:
df = pd.read_csv('AllHoldings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390168 entries, 0 to 390167
Data columns (total 12 columns):
manager            390168 non-null object
filing_date        390168 non-null object
report_date        390168 non-null object
sh_name            390168 non-null object
sh_class           390168 non-null object
cusip              390168 non-null object
val1000            390168 non-null int64
share_count        390168 non-null int64
share_or_prin      390168 non-null object
discretion         390168 non-null object
sole_vote_amt      390168 non-null int64
shared_vote_amt    390168 non-null int64
dtypes: int64(4), object(8)
memory usage: 35.7+ MB

In [4]:
df['report_date'] = pd.to_datetime(df.report_date)

In [5]:
df['filing_date'] = pd.to_datetime(df.filing_date)

## The next step is to return only the top 20 holdings, aggregated by date and Cusip/Share.

In [6]:
# Sums up the holdings by date/cusip and returns a flattened dataframe with report_date as the index
summed_df = df.groupby(['report_date', 'cusip', 'sh_name'])['report_date', 'cusip', 'sh_name', 'val1000'].sum().reset_index()
summed_df.set_index('report_date')

                 cusip                       sh_name  val1000
report_date
2013-06-30   000360206                      AAON INC     1179
2013-06-30   000361105                      AAR CORP     2039
2013-06-30   000375204                       ABB LTD     4802
2013-06-30   00081T108              ACCO BRANDS CORP       65
2013-06-30   000957100                  ABM INDS INC     1731
2013-06-30   00101J106           THE ADT CORPORATION    12867
2013-06-30   001031103                  AEP INDS INC      536
2013-06-30   00104Q107           AFC ENTERPRISES INC     4421
2013-06-30   001055102                     AFLAC INC    75176
2013-06-30   001084102                     AGCO CORP    22610
2013-06-30   001084AM4                     AGCO CORP     4985
2013-06-30   001204106                   AGL RES INC    73703
2013-06-30   001228105            AG MTG INVT TR INC     1886
2013-06-30   001282102                 A H BELO CORP      351
2013-06-30   00130H105                      AES CORP    46543
2013-06-30   001547108              AK STL HLDG CORP     7072
2013-06-30   00163U106      AMAG PHARMACEUTICALS INC    94320
2013-06-30   00164V103              AMC NETWORKS INC    63902
2013-06-30   001744101   AMN HEALTHCARE SERVICES INC     1579
2013-06-30   00184X105                       AOL INC     8423
2013-06-30   00191G103    ARC DOCUMENT SOLUTIONS INC      411
2013-06-30   00206R102                      AT&T INC   233337
2013-06-30   00206R102                  AT&amp;T INC   181060
2013-06-30   00207R101                      ATMI INC     3638
2013-06-30   002255107             AU OPTRONICS CORP     2079
2013-06-30   00234PAB8                  AV HOMES INC     8805
2013-06-30   002444107                  AVX CORP NEW     1870
2013-06-30   00246W103                       AXT INC      167
2013-06-30   002474104                       AZZ INC     2920
2013-06-30   002535300                    AARONS INC      974
...                ...                           ...      ...
2018-06-30   m81873107                   RADWARE LTD     2768
2018-06-30   m85548101                 STRATASYS LTD     1978
2018-06-30   m8737e108  TARO PHARMACEUTICAL INDS LTD      541
2018-06-30   m87915274       TOWER SEMICONDUCTOR LTD    14800
2018-06-30   m9068e105  SODASTREAM INTERNATIONAL LTD     7186
2018-06-30   m96088105             UROGEN PHARMA LTD      745
2018-06-30   m96883109        VASCULAR BIOGENICS LTD       29
2018-06-30   m98068105                   WIX COM LTD    56261
2018-06-30   n00985106            AERCAP HOLDINGS NV      206
2018-06-30   n20146101                  CIMPRESS N V    11715
2018-06-30   n20944109                  CNH INDL N V     3252
2018-06-30   n22717107         CORE LABORATORIES N V     3344
2018-06-30   n3167y103                   FERRARI N V     2034
2018-06-30   n47279109         INTERXION HOLDING N.V    22151
2018-06-30   n53745100   LYONDELLBASELL INDUSTRIES N    32721
2018-06-30   n5749r100                     MERUS N V      713
2018-06-30   n59465109                     MYLAN N V     5656
2018-06-30   n72482123                     QIAGEN NV    14103
2018-06-30   n96617118          WRIGHT MED GROUP N V      682
2018-06-30   n97284108                    YANDEX N V    68858
2018-06-30   p31076105              COPA HOLDINGS SA    32239
2018-06-30   y11082107  CAPITAL PRODUCT PARTNERS L P     1156
2018-06-30   y2066g104            DIANA SHIPPING INC      866
2018-06-30   y2187a143       EAGLE BULK SHIPPING INC     2745
2018-06-30   y2573f102                      FLEX LTD    38645
2018-06-30   y2685t131  GENCO SHIPPING & TRADING LTD     3191
2018-06-30   y62267102  NAVIOS MARITIME PARTNERS L P      209
2018-06-30   y7388l103              SAFE BULKERS INC     1232
2018-06-30   y7546a122           SCORPIO BULKERS INC      874
2018-06-30   y8162k204       STAR BULK CARRIERS CORP      996

[140965 rows x 3 columns]

In [7]:
#Sets variables that will be used to loop through each report_date and select the top 20 by notional value
looper = summed_df.report_date.value_counts().index
top_df = pd.DataFrame(columns=['report_date', 'cusip', 'sh_name', 'val1000'])

In [8]:
for x in looper:
    top_df = top_df.append(summed_df[(summed_df.report_date == x)].nlargest(20, 'val1000'))

In [9]:
top_df = top_df.sort_values(['report_date', 'val1000'], ascending=[False, False]).reset_index().drop('index', axis=1)

## Now, the goal is to pull back stock tickers for all of the stocks that appear in our 420 row dataframe.  

#### This is a somewhat complicated task as stocks can undergo certain changes (which is why CUSIPS are often used as an identifier.

#### Fidelity seems to be the only free source of a cusip lookup, so I will first scrape there.  If there aren't too many NaNs after scraping Fidelity, I'll just figure out the rest of the tickers by hand.  If there are a lot, then I'll try some other automated solution.

In [10]:
# creates a list of unique cusips.
cusips = list(top_df.cusip.unique())

In [11]:
cusips[:5]

['037833100', '78462F103', '949746101', '060505104', '500754106']

url1 = 'https://quotes.fidelity.com/mmnet/SymLookup.phtml?reqforlookup=REQUESTFORLOOKUP&productid=mmnet&isLoggedIn=mmnet&rows=50&for=stock&by=cusip&criteria='
url2 = '&submit=Search'
ticker = []

for cusip in cusips:
    response = requests.get(url1+cusip+url2)
    time.sleep(1)
    soup = BeautifulSoup(response.text, 'html.parser')
    try:
        ticker.append(soup.find('td', {'align':'center'}).get_text())
    except:
        ticker.append(cusip+'Not Found')

In [12]:
#cusip_ticker = pd.DataFrame({'cusip':cusips, 'tickers':ticker})
cusip_ticker = pd.read_csv('cusip_ticker.csv')  
cusip_ticker.columns=['d', 'cusip', 'ticker']
cusip_ticker.drop('d', axis=1)
cusip_ticker.head()

   d      cusip ticker
0  0  949746101    WFC
1  1  500754106    KHC
2  2  191216100     KO
3  3  459200101    IBM
4  4  025816109    AXP

In [13]:
cusip_ticker[cusip_ticker.ticker.str.contains('Not')]
cusip_ticker.iloc[7,2] = 'SPY' 
cusip_ticker.iloc[10,2] = 'SPY' 
cusip_ticker.iloc[14,2] = 'VRX' #Company acquired by Bausch and Lomb 
cusip_ticker.iloc[20,2] = 'AAPL' #Looks like a miskey by the 13F filer
cusip_ticker.iloc[21,2] = 'DTV' #Company acquired by AT&T
cusip_ticker.iloc[29,2] = 'AGN' #Company acquired
cusip_ticker.iloc[33,2] = 'EMC' #Company acquired
cusip_ticker.iloc[46,2] = 'QQQ' #Fidelity tool not able to handle ETFs
cusip_ticker.iloc[48,2] = 'PCLN' #Company acquired by Bausch and Lomb 
cusip_ticker.iloc[56,2] = 'FRX' #Company acquired 
cusip_ticker.iloc[57,2] = 'MDT' #Company acquired 
cusip_ticker.iloc[58,2] = 'DWDP' #Company acquired 
cusip_ticker.iloc[60,2] = 'DELL' #Company went private 
cusip_ticker.iloc[61,2] = 'YHOO' #Company acquired 
cusip_ticker.iloc[64,2] = 'FDML' #Company went private

API = 'INAPOMK44YJBVQY9'
ts = TimeSeries(key='API', output_format='pandas', indexing_type='date')

alpha_data, alpha_meta_data = ts.get_daily_adjusted(symbol='WFC', outputsize='full')

alpha_data.head()

alpha_meta_data

## The above "alpha_data" dataframe came from the alphavantage API.  Virtually all of the cusips belonging to the tickers above (cusips not found) were missing from AV.  So, I instead sourced the data from another source that has unadjusted close prices only.  Given the infrequency of my strategy's trading, the likelihood of corporate actions having a significant effect is low.

In [14]:
top_df = pd.merge(top_df, cusip_ticker, how='left', on='cusip').drop('d', axis=1)

##  The dates I have are the dates when the investors held a position.  Their reports are filed 43-45 days after this date.  To make my life easier, I ignored the "filing_date" column from my 13F scraper and just use the next business day 44 days after the "report_date" col.

In [15]:
top_df['buy_date'] = top_df['report_date'].apply(lambda x: x +  timedelta(days=44) + BDay(1))

In [16]:
top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 6 columns):
report_date    420 non-null datetime64[ns]
cusip          420 non-null object
sh_name        420 non-null object
val1000        420 non-null object
ticker         420 non-null object
buy_date       420 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 23.0+ KB

In [17]:
buy_prices = pd.read_csv('Yahoo_Prices.csv')
buy_prices.columns

Index(['Date', 'Adj Close', 'ticker'], dtype='object')

In [18]:
# prices = prices.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis=1 )
buy_prices.Date = pd.to_datetime(buy_prices.Date)
buy_prices.Date = buy_prices.Date.apply(lambda x: x.date())
buy_filtered = pd.DataFrame(columns=['Date', 'Adj Close', 'ticker'])

In [19]:
x = top_df['buy_date'].dt.date.unique()
for z in x:
    buy_filtered = buy_filtered.append(buy_prices[buy_prices.Date==z])

In [20]:
buy_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1071 entries, 30 to 67709
Data columns (total 3 columns):
Date         1071 non-null object
Adj Close    1071 non-null float64
ticker       1071 non-null object
dtypes: float64(1), object(2)
memory usage: 33.5+ KB

In [21]:
buy_filtered.reset_index(inplace=True)

In [22]:
buy_filtered.head()

   index        Date  Adj Close ticker
0     30  2018-08-14  78.309998    XOM
1   1349  2018-08-14  90.849998    WMT
2   2668  2018-08-14  58.070000    WFC
3   3987  2018-08-14  41.930000    VWO
4   5310  2018-08-14  53.169998    USB

In [23]:
buy_filtered = buy_filtered.drop('index', axis=1)
buy_filtered.head()

         Date  Adj Close ticker
0  2018-08-14  78.309998    XOM
1  2018-08-14  90.849998    WMT
2  2018-08-14  58.070000    WFC
3  2018-08-14  41.930000    VWO
4  2018-08-14  53.169998    USB

In [24]:
buy_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 3 columns):
Date         1071 non-null object
Adj Close    1071 non-null float64
ticker       1071 non-null object
dtypes: float64(1), object(2)
memory usage: 25.2+ KB

In [25]:
buy_filtered.Date = pd.to_datetime(buy_prices.Date)

In [26]:
top_df.sort_values(['buy_date', 'ticker'], inplace = True, ascending=True)
top_df.reset_index(drop= True, inplace = True)

In [27]:
top_df.head()

  report_date      cusip              sh_name   val1000 ticker   buy_date
0  2013-06-30  025816109  AMERICAN EXPRESS CO  11452604    AXP 2013-08-14
1  2013-06-30  20825C104       CONOCOPHILLIPS   1511450    COP 2013-08-14
2  2013-06-30  13645T100  CANADIAN PAC RY LTD   2957935     CP 2013-08-14
3  2013-06-30  12662P108       CVR ENERGY INC   3416439    CVI 2013-08-14
4  2013-06-30  24702R101             DELL INC   2450000   DELL 2013-08-14

In [28]:
top_df = pd.merge(top_df, buy_filtered, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'Date'])

In [29]:
top_df['sell_date'] = top_df.buy_date.shift(periods = -20)
top_df.drop('Date', axis=1, inplace=True)

In [30]:
top_df = pd.merge(top_df, buy_filtered, how='left', left_on=['ticker', 'sell_date'], right_on=['ticker', 'Date'])

In [31]:
top_df[top_df.ticker=='QQQ']

,report_date,cusip,sh_name,val1000,ticker,buy_date,Adj Close_x,sell_date,Date,Adj Close_y
296,2016-12-31,73935A104,POWERSHARES QQQ TRUST,3755022,QQQ,2017-02-14,NaN,2017-05-15,NaT,NaN
316,2017-03-31,73935A104,POWERSHARES QQQ TRUST,4444607,QQQ,2017-05-15,NaN,2017-08-14,NaT,NaN
336,2017-06-30,73935A104,POWERSHARES QQQ TRUST,4330193,QQQ,2017-08-14,NaN,2017-11-14,NaT,NaN
375,2017-12-31,73935A104,POWERSHARES QQQ TRUST,5140654,QQQ,2018-02-14,NaN,2018-05-15,NaT,NaN
396,2018-03-31,73935A104,POWERSHARES QQQ TRUST,9494668,QQQ,2018-05-15,NaN,2018-08-14,NaT,NaN
415,2018-06-30,46090E103,INVESCO QQQ TR,8792866,QQQ,2018-08-14,NaN,NaT,NaT,NaN

In [76]:
top_df.rename(columns={'Adj Close_x': 'buy_price', 'Adj Close_y': 'sell_price'}, inplace=True)
top_df.drop('Date', axis=1, inplace=True)

In [77]:
top_df[top_df.ticker=='AAPL'].head(7)

,report_date,cusip,sh_name,val1000,ticker,buy_date,buy_price,sell_date,sell_price,buy_price,sell_price
20,2013-09-30,037833100,APPLE INC,2753258,AAPL,2013-11-14,69.1578,2014-02-14,71.657,NaN,NaN
40,2013-12-31,037833100,APPLE INC,6451807,AAPL,2014-02-14,71.657,2014-05-15,77.9954,NaN,NaN
60,2014-03-31,037833100,APPLE INC,7460756,AAPL,2014-05-15,77.9954,2014-08-14,90.854,NaN,NaN
80,2014-06-30,037833100,APPLE INC,9073138,AAPL,2014-08-14,90.854,2014-11-14,106.858,NaN,NaN
100,2014-09-30,037833100,APPLE INC,9466057,AAPL,2014-11-14,106.858,2014-11-14,106.858,NaN,NaN
122,2014-12-31,137833100,APPLE INC,5823743,AAPL,2015-02-16,120.105,2015-02-16,120.105,NaN,NaN
123,2014-12-31,037833100,APPLE INC,4620136,AAPL,2015-02-16,120.105,2015-05-15,121.494,NaN,NaN

In [78]:
portfolio = top_df[['ticker', 'sh_name', 'buy_date', 'buy_price', 'sell_date', 'sell_price']]

In [79]:
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 423 entries, 0 to 422
Data columns (total 8 columns):
ticker        423 non-null object
sh_name       423 non-null object
buy_date      423 non-null datetime64[ns]
buy_price     423 non-null object
buy_price     5 non-null float64
sell_date     403 non-null datetime64[ns]
sell_price    403 non-null object
sell_price    7 non-null float64
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 29.7+ KB

In [36]:
portfolio['shares_bought'] = 1
portfolio['notional_bought'] = 1
portfolio['notional_sold'] = 1
sum_not_sold = 10000000

In [37]:
portfolio.loc[portfolio.buy_date=='2013-08-14','shares_bought'] = sum_not_sold/20/portfolio['buy_price']

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [160]:
portfolio.loc[portfolio.buy_date=='2013-08-14','notional_bought'] = portfolio['shares_bought']*portfolio['buy_price']

In [161]:
portfolio.loc[portfolio.buy_date=='2013-08-14','notional_sold'] = portfolio['shares_bought']*portfolio['sell_price']

In [162]:
portfolio.head(22)

,ticker,sh_name,buy_date,buy_price,sell_date,sell_price,shares_bought,notional_bought,notional_sold
0,AXP,AMERICAN EXPRESS CO,2013-08-14,70.487648,2013-11-14,76.301682,7093.441393,500000.0,541241.509434
1,COP,CONOCOPHILLIPS,2013-08-14,57.361557,2013-11-14,63.558880,8716.639264,500000.0,554019.828995
2,CP,CANADIAN PAC RY LTD,2013-08-14,115.452370,2013-11-14,140.971481,4330.790264,500000.0,610517.917475
3,CVI,CVR ENERGY INC,2013-08-14,28.293880,2013-11-14,24.337425,17671.666099,500000.0,430082.848305
4,DELL,DELL INC,2013-08-14,13.720000,2013-11-14,13.840000,36443.148688,500000.0,504373.177843
5,DTV,DIRECTV,2013-08-14,61.410000,2013-11-14,64.350000,8141.996418,500000.0,523937.469468
6,DVA,DAVITA HEALTHCARE PARTNERS I,2013-08-14,57.299999,2013-11-14,58.689999,8726.003643,500000.0,512129.145063
7,EEM,ISHARES TR,2013-08-14,36.305775,2013-11-14,37.537094,13771.913697,500000.0,516957.619001
8,IBM,INTERNATIONAL BUSINESS MACHS,2013-08-14,155.742050,2013-11-14,152.136490,3210.436745,500000.0,488424.577691
9,IEP,ICAHN ENTERPRISES LP,2013-08-14,49.667171,2013-11-14,75.680756,10067.011870,500000.0,761879.068973
10,KO,COCA COLA CO,2013-08-14,33.427959,2013-11-14,34.250286,14957.538987,500000.0,512299.988163
11,MCO,MOODYS CORP,2013-08-14,60.926750,2013-11-14,69.045723,8206.575929,500000.0,566628.968392
12,PG,PROCTER & GAMBLE CO,2013-08-14,69.238007,2013-11-14,72.415459,7221.467250,500000.0,522945.865556
13,PSX,PHILLIPS 66,2013-08-14,51.027145,2013-11-14,58.990398,9798.706159,500000.0,578029.576219
14,SPY,SPDR S&P 500 ETF TR,2013-08-14,152.141312,2013-11-14,162.423294,3286.418353,500000.0,533790.894350
15,USB,US BANCORP DEL,2013-08-14,32.903061,2013-11-14,34.283451,15196.154546,500000.0,520976.619774
16,VWO,VANGUARD INTL EQUITY INDEX F,2013-08-14,35.508575,2013-11-14,36.463646,14081.105761,500000.0,513448.455760
17,WFC,WELLS FARGO & CO NEW,2013-08-14,37.412640,2013-11-14,37.669060,13364.467196,500000.0,503426.916678
18,WMT,WAL MART STORES INC,2013-08-14,67.077522,2013-11-14,69.430504,7454.061884,500000.0,517539.273439
19,YHOO,YAHOO INC,2013-08-14,28.050000,2013-11-14,35.690000,17825.311943,500000.0,636185.383244
20,AAPL,APPLE INC,2013-11-14,69.157845,2014-02-14,71.656990,1.000000,1.0,1.000000
21,APD,AIR PRODS & CHEMS INC,2013-11-14,87.811844,2014-02-14,95.496201,1.000000,1.0,1.000000

In [163]:
sum_not_sold = portfolio.loc[portfolio.buy_date=='2013-08-14'].groupby('buy_date')['notional_sold'].sum()

In [164]:
sum_not_sold = sum_not_sold.values

In [166]:
portfolio.loc[portfolio.buy_date=='2013-11-14','shares_bought'] = sum_not_sold/20/portfolio['buy_price']

In [167]:
portfolio.loc[portfolio.buy_date=='2013-11-14','notional_bought'] = portfolio['shares_bought']*portfolio['buy_price']

In [168]:
portfolio.loc[portfolio.buy_date=='2013-11-14','notional_sold'] = portfolio['shares_bought']*portfolio['sell_price']

In [169]:
portfolio.loc[portfolio.buy_date=='2013-11-14']

,ticker,sh_name,buy_date,buy_price,sell_date,sell_price,shares_bought,notional_bought,notional_sold
20,AAPL,APPLE INC,2013-11-14,69.157845,2014-02-14,71.656990,7843.531781,542441.755191,562043.878425
21,APD,AIR PRODS & CHEMS INC,2013-11-14,87.811844,2014-02-14,95.496201,6177.318804,542441.755191,589910.478187
22,AXP,AMERICAN EXPRESS CO,2013-11-14,76.301682,2014-02-14,83.140488,7109.171659,542441.755191,591060.000986
23,CP,CANADIAN PAC RY LTD,2013-11-14,140.971481,2014-02-14,147.010574,3847.882929,542441.755191,565679.478051
24,CVI,CVR ENERGY INC,2013-11-14,24.337425,2014-02-14,24.343891,22288.379119,542441.755191,542585.871851
25,DTV,DIRECTV,2013-11-14,64.350000,2014-02-14,71.890000,8429.553305,542441.755191,606000.587113
26,EEM,ISHARES,2013-11-14,37.537094,2014-02-14,36.231758,14450.819107,542441.755191,523578.580782
27,FDML,FEDERAL MOGUL CORP,2013-11-14,20.080000,2014-02-14,17.180000,27014.031633,542441.755191,464101.063455
28,GM,GENERAL MTRS CO,2013-11-14,31.392313,2014-02-14,29.313080,17279.445296,542441.755191,506513.762311
29,IBM,INTERNATIONAL BUSINESS MACHS,2013-11-14,152.136490,2014-02-14,154.213013,3565.494085,542441.755191,549845.585665
30,IEP,ICAHN ENTERPRISES LP,2013-11-14,75.680756,2014-02-14,73.759056,7167.499162,542441.755191,528667.972052
31,KO,COCA COLA CO,2013-11-14,34.250286,2014-02-14,33.392288,15837.583230,542441.755191,528853.140455
32,NFLX,NETFLIX INC,2013-11-14,48.938572,2014-02-14,62.215714,11084.135336,542441.755191,689607.393992
33,PG,PROCTER & GAMBLE CO,2013-11-14,72.415459,2014-02-14,68.705505,7490.690008,542441.755191,514651.639831
34,SPY,SPDR S&P 500 ETF TR,2013-11-14,162.423294,2014-02-14,167.632324,3339.679561,542441.755191,559838.246214
35,USB,US BANCORP DEL,2013-11-14,34.283451,2014-02-14,36.739944,15822.262327,542441.755191,581309.031841
36,VWO,VANGUARD INTL EQUITY INDEX F,2013-11-14,36.463646,2014-02-14,35.029835,14876.234680,542441.755191,521112.046268
37,WFC,WELLS FARGO & CO NEW,2013-11-14,37.669060,2014-02-14,40.598663,14400.193559,542441.755191,584628.605443
38,WMT,WAL MART STORES INC,2013-11-14,69.430504,2014-02-14,66.929314,7812.729621,542441.755191,522900.633991
39,XOM,EXXON MOBIL CORP,2013-11-14,79.097527,2014-02-14,80.418282,6857.885142,542441.755191,551499.341282

In [170]:
portfolio.head(42)

,ticker,sh_name,buy_date,buy_price,sell_date,sell_price,shares_bought,notional_bought,notional_sold
0,AXP,AMERICAN EXPRESS CO,2013-08-14,70.487648,2013-11-14,76.301682,7093.441393,500000.000000,541241.509434
1,COP,CONOCOPHILLIPS,2013-08-14,57.361557,2013-11-14,63.558880,8716.639264,500000.000000,554019.828995
2,CP,CANADIAN PAC RY LTD,2013-08-14,115.452370,2013-11-14,140.971481,4330.790264,500000.000000,610517.917475
3,CVI,CVR ENERGY INC,2013-08-14,28.293880,2013-11-14,24.337425,17671.666099,500000.000000,430082.848305
4,DELL,DELL INC,2013-08-14,13.720000,2013-11-14,13.840000,36443.148688,500000.000000,504373.177843
5,DTV,DIRECTV,2013-08-14,61.410000,2013-11-14,64.350000,8141.996418,500000.000000,523937.469468
6,DVA,DAVITA HEALTHCARE PARTNERS I,2013-08-14,57.299999,2013-11-14,58.689999,8726.003643,500000.000000,512129.145063
7,EEM,ISHARES TR,2013-08-14,36.305775,2013-11-14,37.537094,13771.913697,500000.000000,516957.619001
8,IBM,INTERNATIONAL BUSINESS MACHS,2013-08-14,155.742050,2013-11-14,152.136490,3210.436745,500000.000000,488424.577691
9,IEP,ICAHN ENTERPRISES LP,2013-08-14,49.667171,2013-11-14,75.680756,10067.011870,500000.000000,761879.068973
10,KO,COCA COLA CO,2013-08-14,33.427959,2013-11-14,34.250286,14957.538987,500000.000000,512299.988163
11,MCO,MOODYS CORP,2013-08-14,60.926750,2013-11-14,69.045723,8206.575929,500000.000000,566628.968392
12,PG,PROCTER & GAMBLE CO,2013-08-14,69.238007,2013-11-14,72.415459,7221.467250,500000.000000,522945.865556
13,PSX,PHILLIPS 66,2013-08-14,51.027145,2013-11-14,58.990398,9798.706159,500000.000000,578029.576219
14,SPY,SPDR S&P 500 ETF TR,2013-08-14,152.141312,2013-11-14,162.423294,3286.418353,500000.000000,533790.894350
15,USB,US BANCORP DEL,2013-08-14,32.903061,2013-11-14,34.283451,15196.154546,500000.000000,520976.619774
16,VWO,VANGUARD INTL EQUITY INDEX F,2013-08-14,35.508575,2013-11-14,36.463646,14081.105761,500000.000000,513448.455760
17,WFC,WELLS FARGO & CO NEW,2013-08-14,37.412640,2013-11-14,37.669060,13364.467196,500000.000000,503426.916678
18,WMT,WAL MART STORES INC,2013-08-14,67.077522,2013-11-14,69.430504,7454.061884,500000.000000,517539.273439
19,YHOO,YAHOO INC,2013-08-14,28.050000,2013-11-14,35.690000,17825.311943,500000.000000,636185.383244
20,AAPL,APPLE INC,2013-11-14,69.157845,2014-02-14,71.656990,7843.531781,542441.755191,562043.878425
21,APD,AIR PRODS & CHEMS INC,2013-11-14,87.811844,2014-02-14,95.496201,6177.318804,542441.755191,589910.478187
22,AXP,AMERICAN EXPRESS CO,2013-11-14,76.301682,2014-02-14,83.140488,7109.171659,542441.755191,591060.000986
23,CP,CANADIAN PAC RY LTD,2013-11-14,140.971481,2014-02-14,147.010574,3847.882929,542441.755191,565679.478051
24,CVI,CVR ENERGY INC,2013-11-14,24.337425,2014-02-14,24.343891,22288.379119,542441.755191,542585.871851
25,DTV,DIRECTV,2013-11-14,64.350000,2014-02-14,71.890000,8429.553305,542441.755191,606000.587113
26,EEM,ISHARES,2013-11-14,37.537094,2014-02-14,36.231758,14450.819107,542441.755191,523578.580782
27,FDML,FEDERAL MOGUL CORP,2013-11-14,20.080000,2014-02-14,17.180000,27014.031633,542441.755191,464101.063455
28,GM,GENERAL MTRS CO,2013-11-14,31.392313,2014-02-14,29.313080,17279.445296,542441.755191,506513.762311
29,IBM,INTERNATIONAL BUSINESS MACHS,2013-11-14,152.136490,2014-02-14,154.213013,3565.494085,542441.755191,549845.585665
30,IEP,ICAHN ENTERPRISES LP,2013-11-14,75.680756,2014-02-14,73.759056,7167.499162,542441.755191,528667.972052
31,KO,COCA COLA CO,2013-11-14,34.250286,2014-02-14,33.392288,15837.583230,542441.755191,528853.140455
32,NFLX,NETFLIX INC,2013-11-14,48.938572,2014-02-14,62.215714,11084.135336,542441.755191,689607.393992
33,PG,PROCTER & GAMBLE CO,2013-11-14,72.415459,2014-02-14,68.705505,7490.690008,542441.755191,514651.639831
34,SPY,SPDR S&P 500 ETF TR,2013-11-14,162.423294,2014-02-14,167.632324,3339.679561,542441.755191,559838.246214
35,USB,US BANCORP DEL,2013-11-14,34.283451,2014-02-14,36.739944,15822.262327,542441.755191,581309.031841
36,VWO,VANGUARD INTL EQUITY INDEX F,2013-11-14,36.463646,2014-02-14,35.029835,14876.234680,542441.755191,521112.046268
37,WFC,WELLS FARGO & CO NEW,2013-11-14,37.669060,2014-02-14,40.598663,14400.193559,542441.755191,584628.605443
38,WMT,WAL MART STORES INC,2013-11-14,69.430504,2014-02-14,66.929314,7812.729621,542441.755191,522900.633991
39,XOM,EXXON MOBIL CORP,2013-11-14,79.097527,2014-02-14,80.418282,6857.885142,542441.755191,551499.341282
40,AAPL,APPLE INC,2014-02-14,71.656990,2014-05-15,77.995438,1.000000,1.000000,1.000000
41,APD,AIR PRODS & CHEMS INC,2014-02-14,95.496201,2014-05-15,95.844345,1.000000,1.000000,1.000000

In [171]:
looper = portfolio.buy_date.value_counts().index.sort_values()
looper.date

array([datetime.date(2013, 8, 14), datetime.date(2013, 11, 14),
       datetime.date(2014, 2, 14), datetime.date(2014, 5, 15),
       datetime.date(2014, 8, 14), datetime.date(2014, 11, 14),
       datetime.date(2015, 2, 16), datetime.date(2015, 5, 15),
       datetime.date(2015, 8, 14), datetime.date(2015, 11, 16),
       datetime.date(2016, 2, 15), datetime.date(2016, 5, 16),
       datetime.date(2016, 8, 15), datetime.date(2016, 11, 14),
       datetime.date(2017, 2, 14), datetime.date(2017, 5, 15),
       datetime.date(2017, 8, 14), datetime.date(2017, 11, 14),
       datetime.date(2018, 2, 14), datetime.date(2018, 5, 15),
       datetime.date(2018, 8, 14)], dtype=object)

In [172]:
for date in looper:
    portfolio.loc[portfolio.buy_date==pd.to_datetime(date),'shares_bought'] = sum_not_sold/20/portfolio['buy_price']
    portfolio.loc[portfolio.buy_date==pd.to_datetime(date),'notional_bought'] = portfolio['shares_bought']*portfolio['buy_price']
    portfolio.loc[portfolio.buy_date==pd.to_datetime(date),'notional_sold'] = portfolio['shares_bought']*portfolio['sell_price']
    sum_not_sold = portfolio.loc[portfolio.buy_date==pd.to_datetime(date)].groupby('buy_date')['notional_sold'].sum()
    sum_not_sold = sum_not_sold.values

In [177]:
portfolio[portfolio.notional_sold.isna()]

,ticker,sh_name,buy_date,buy_price,sell_date,sell_price,shares_bought,notional_bought,notional_sold
106,DWDP,DOW CHEM CO,2014-11-14,45.429230,2015-02-16,NaN,14911.724324,677428.154023,NaN
107,EEM,ISHARES TR,2014-11-14,38.157028,2015-02-16,NaN,17753.692820,677428.154023,NaN
120,XOM,EXXON MOBIL CORP,2014-11-14,82.971992,2015-02-16,NaN,8164.540078,677428.154023,NaN
167,DTV,DIRECTV,2015-08-14,93.550000,2015-11-16,NaN,6960.031531,651110.949700,NaN
248,EMC,E M C CORP MASS,2016-08-15,28.470000,2016-11-14,NaN,22409.821500,638007.618091,NaN
357,PCLN,PRICELINE GRP INC,2017-11-14,1719.500000,2018-02-14,NaN,431.751997,742397.559087,NaN
402,AAPL,APPLE INC,2018-08-14,209.750000,NaT,NaN,3841.824140,805822.613453,NaN
403,AMZN,AMAZON COM INC,2018-08-14,1919.650024,NaT,NaN,419.775794,805822.613453,NaN
404,AXP,AMERICAN EXPRESS CO,2018-08-14,102.180000,NaT,NaN,7886.304692,805822.613453,NaN
405,BABA,ALIBABA GROUP HLDG LTD,2018-08-14,172.529999,NaT,NaN,4670.623185,805822.613453,NaN
406,BAC,BANK AMER CORP,2018-08-14,30.641878,NaT,NaN,26298.081777,805822.613453,NaN
407,BKNG,BOOKING HLDGS INC,2018-08-14,1833.550049,NaT,NaN,439.487656,805822.613453,NaN
408,FB,FACEBOOK INC,2018-08-14,181.110001,NaT,NaN,4449.354586,805822.613453,NaN
409,GOOGL,ALPHABET INC,2018-08-14,1258.140015,NaT,NaN,640.487230,805822.613453,NaN
410,IEP,ICAHN ENTERPRISES LP,2018-08-14,78.790001,NaT,NaN,10227.473071,805822.613453,NaN
411,IWM,ISHARES TR,2018-08-14,168.199997,NaT,NaN,4790.859856,805822.613453,NaN
412,JPM,JPMORGAN CHASE & CO,2018-08-14,114.650002,NaT,NaN,7028.544260,805822.613453,NaN
413,KHC,KRAFT HEINZ CO,2018-08-14,58.890453,NaT,NaN,13683.416792,805822.613453,NaN
414,KO,COCA COLA CO,2018-08-14,45.502953,NaT,NaN,17709.237760,805822.613453,NaN
415,MSFT,MICROSOFT CORP,2018-08-14,109.139999,NaT,NaN,7383.384834,805822.613453,NaN
416,NFLX,NETFLIX INC,2018-08-14,337.489990,NaT,NaN,2387.693376,805822.613453,NaN
417,QQQ,INVESCO QQQ TR,2018-08-14,181.449997,NaT,NaN,4441.017508,805822.613453,NaN
418,SPY,SPDR S&P 500 ETF TR,2018-08-14,282.620636,NaT,NaN,2851.251858,805822.613453,NaN
419,USB,US BANCORP DEL,2018-08-14,53.169998,NaT,NaN,15155.588561,805822.613453,NaN
420,WFC,WELLS FARGO & CO NEW,2018-08-14,58.070000,NaT,NaN,13876.745539,805822.613453,NaN
421,WFC,WELLS FARGO CO NEW,2018-08-14,58.070000,NaT,NaN,13876.745539,805822.613453,NaN

In [134]:
for date in looper:
    portfolio.loc[portfolio.buy_date==pd.to_datetime(date),'shares_bought'] = sum_not_sold/20/portfolio['buy_price']
    portfolio.loc[portfolio.buy_date==pd.to_datetime(date),'notional_bought'] = portfolio['shares_bought']*portfolio['buy_price']
    portfolio.loc[portfolio.buy_date==pd.to_datetime(date),'notional_sold'] = portfolio['shares_bought']*portfolio['sell_price']
    sum_not_sold = portfolio.loc[portfolio.buy_date==pd.to_datetime(date)].groupby('buy_date')['notional_sold'].sum()
    sum_not_sold = sum_not_sold.values

In [135]:
portfolio

,ticker,sh_name,buy_date,buy_price,sell_date,sell_price,shares_bought,notional_bought,notional_sold
0,AXP,AMERICAN EXPRESS CO,2013-08-14,70.487648,2013-11-14,76.301682,0.0,0.0,0.0
1,COP,CONOCOPHILLIPS,2013-08-14,57.361557,2013-11-14,63.558880,0.0,0.0,0.0
2,CP,CANADIAN PAC RY LTD,2013-08-14,115.452370,2013-11-14,140.971481,0.0,0.0,0.0
3,CVI,CVR ENERGY INC,2013-08-14,28.293880,2013-11-14,24.337425,0.0,0.0,0.0
4,DELL,DELL INC,2013-08-14,13.720000,2013-11-14,13.840000,0.0,0.0,0.0
5,DTV,DIRECTV,2013-08-14,61.410000,2013-11-14,64.350000,0.0,0.0,0.0
6,DVA,DAVITA HEALTHCARE PARTNERS I,2013-08-14,57.299999,2013-11-14,58.689999,0.0,0.0,0.0
7,EEM,ISHARES TR,2013-08-14,36.305775,2013-11-14,37.537094,0.0,0.0,0.0
8,IBM,INTERNATIONAL BUSINESS MACHS,2013-08-14,155.742050,2013-11-14,152.136490,0.0,0.0,0.0
9,IEP,ICAHN ENTERPRISES LP,2013-08-14,49.667171,2013-11-14,75.680756,0.0,0.0,0.0
10,KO,COCA COLA CO,2013-08-14,33.427959,2013-11-14,34.250286,0.0,0.0,0.0
11,MCO,MOODYS CORP,2013-08-14,60.926750,2013-11-14,69.045723,0.0,0.0,0.0
12,PG,PROCTER & GAMBLE CO,2013-08-14,69.238007,2013-11-14,72.415459,0.0,0.0,0.0
13,PSX,PHILLIPS 66,2013-08-14,51.027145,2013-11-14,58.990398,0.0,0.0,0.0
14,SPY,SPDR S&P 500 ETF TR,2013-08-14,152.141312,2013-11-14,162.423294,0.0,0.0,0.0
15,USB,US BANCORP DEL,2013-08-14,32.903061,2013-11-14,34.283451,0.0,0.0,0.0
16,VWO,VANGUARD INTL EQUITY INDEX F,2013-08-14,35.508575,2013-11-14,36.463646,0.0,0.0,0.0
17,WFC,WELLS FARGO & CO NEW,2013-08-14,37.412640,2013-11-14,37.669060,0.0,0.0,0.0
18,WMT,WAL MART STORES INC,2013-08-14,67.077522,2013-11-14,69.430504,0.0,0.0,0.0
19,YHOO,YAHOO INC,2013-08-14,28.050000,2013-11-14,35.690000,0.0,0.0,0.0
20,AAPL,APPLE INC,2013-11-14,69.157845,2014-02-14,71.656990,0.0,0.0,0.0
21,APD,AIR PRODS & CHEMS INC,2013-11-14,87.811844,2014-02-14,95.496201,0.0,0.0,0.0
22,AXP,AMERICAN EXPRESS CO,2013-11-14,76.301682,2014-02-14,83.140488,0.0,0.0,0.0
23,CP,CANADIAN PAC RY LTD,2013-11-14,140.971481,2014-02-14,147.010574,0.0,0.0,0.0
24,CVI,CVR ENERGY INC,2013-11-14,24.337425,2014-02-14,24.343891,0.0,0.0,0.0
25,DTV,DIRECTV,2013-11-14,64.350000,2014-02-14,71.890000,0.0,0.0,0.0
26,EEM,ISHARES,2013-11-14,37.537094,2014-02-14,36.231758,0.0,0.0,0.0
27,FDML,FEDERAL MOGUL CORP,2013-11-14,20.080000,2014-02-14,17.180000,0.0,0.0,0.0
28,GM,GENERAL MTRS CO,2013-11-14,31.392313,2014-02-14,29.313080,0.0,0.0,0.0
29,IBM,INTERNATIONAL BUSINESS MACHS,2013-11-14,152.136490,2014-02-14,154.213013,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
392,IWM,ISHARES TR,2018-05-15,158.685349,2018-08-14,168.199997,0.0,0.0,0.0
393,JPM,JPMORGAN CHASE & CO,2018-05-15,112.419083,2018-08-14,114.650002,0.0,0.0,0.0
394,KHC,KRAFT HEINZ CO,2018-05-15,57.799747,2018-08-14,58.890453,0.0,0.0,0.0
395,KO,COCA COLA CO,2018-05-15,41.002949,2018-08-14,45.502953,0.0,0.0,0.0
396,MSFT,MICROSOFT CORP,2018-05-15,96.528534,2018-08-14,109.139999,0.0,0.0,0.0
397,PSX,PHILLIPS 66,2018-05-15,116.728729,2018-08-14,120.101891,0.0,0.0,0.0
398,QQQ,POWERSHARES QQQ TRUST,2018-05-15,167.511459,2018-08-14,181.449997,0.0,0.0,0.0
399,SPY,SPDR S&P 500 ETF TR,2018-05-15,268.671906,2018-08-14,282.620636,0.0,0.0,0.0
400,USB,US BANCORP DEL,2018-05-15,50.812233,2018-08-14,53.169998,0.0,0.0,0.0
401,WFC,WELLS FARGO & CO NEW,2018-05-15,54.352257,2018-08-14,58.070000,0.0,0.0,0.0
402,AAPL,APPLE INC,2018-08-14,209.750000,NaT,NaN,0.0,0.0,NaN
403,AMZN,AMAZON COM INC,2018-08-14,1919.650024,NaT,NaN,0.0,0.0,NaN
404,AXP,AMERICAN EXPRESS CO,2018-08-14,102.180000,NaT,NaN,0.0,0.0,NaN
405,BABA,ALIBABA GROUP HLDG LTD,2018-08-14,172.529999,NaT,NaN,0.0,0.0,NaN
406,BAC,BANK AMER CORP,2018-08-14,30.641878,NaT,NaN,0.0,0.0,NaN
407,BKNG,BOOKING HLDGS INC,2018-08-14,1833.550049,NaT,NaN,0.0,0.0,NaN
408,FB,FACEBOOK INC,2018-08-14,181.110001,NaT,NaN,0.0,0.0,NaN
409,GOOGL,ALPHABET INC,2018-08-14,1258.140015,NaT,NaN,0.0,0.0,NaN
410,IEP,ICAHN ENTERPRISES LP,2018-08-14,78.790001,NaT,NaN,0.0,0.0,NaN
411,IWM,ISHARES TR,2018-08-14,168.199997,NaT,NaN,0.0,0.0,NaN
412,JPM,JPMORGAN CHASE & CO,2018-08-14,114.650002,NaT,NaN,0.0,0.0,NaN
413,KHC,KRAFT HEINZ CO,2018-08-14,58.890453,NaT,NaN,0.0,0.0,NaN
414,KO,COCA COLA CO,2018-08-14,45.502953,NaT,NaN,0.0,0.0,NaN
415,MSFT,MICROSOFT CORP,2018-08-14,109.139999,NaT,NaN,0.0,0.0,NaN
416,NFLX,NETFLIX INC,2018-08-14,337.489990,NaT,NaN,0.0,0.0,NaN
417,QQQ,INVESCO QQQ TR,2018-08-14,181.449997,NaT,NaN,0.0,0.0,NaN
418,SPY,SPDR S&P 500 ETF TR,2018-08-14,282.620636,NaT,NaN,0.0,0.0,NaN
419,USB,US BANCORP DEL,2018-08-14,53.169998,NaT,NaN,0.0,0.0,NaN
420,WFC,WELLS FARGO & CO NEW,2018-08-14,58.070000,NaT,NaN,0.0,0.0,NaN
421,WFC,WELLS FARGO CO NEW,2018-08-14,58.070000,NaT,NaN,0.0,0.0,NaN

DatetimeIndex(['2014-11-14', '2015-02-16', '2013-08-14', '2015-11-16',
               '2015-05-15', '2018-05-15', '2016-02-15', '2013-11-14',
               '2016-11-14', '2014-08-14', '2017-08-14', '2016-08-15',
               '2016-05-16', '2014-02-14', '2017-02-14', '2014-05-15',
               '2017-05-15', '2017-11-14', '2015-08-14', '2018-08-14',
               '2018-02-14'],
              dtype='datetime64[ns]', freq=None)