In [3]:
import pandas as pd
from pandas.tseries.offsets import BDay 
import requests
from bs4 import BeautifulSoup
from datetime import date, timedelta 
import time

#Alpha_Vantage is a stock data provider.  This library makes api calls much easier 
import alpha_vantage
from alpha_vantage.timeseries import TimeSeries

## First, we'll read in the data output by the scraper and do any cleaning that didn't survive the "to_csv" part of the last notebook.

In [4]:
df = pd.read_csv('AllHoldings.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390168 entries, 0 to 390167
Data columns (total 12 columns):
manager            390168 non-null object
filing_date        390168 non-null object
report_date        390168 non-null object
sh_name            390168 non-null object
sh_class           390168 non-null object
cusip              390168 non-null object
val1000            390168 non-null int64
share_count        390168 non-null int64
share_or_prin      390168 non-null object
discretion         390168 non-null object
sole_vote_amt      390168 non-null int64
shared_vote_amt    390168 non-null int64
dtypes: int64(4), object(8)
memory usage: 35.7+ MB

In [6]:
df['report_date'] = pd.to_datetime(df.report_date)

In [7]:
df['filing_date'] = pd.to_datetime(df.filing_date)

## The next step is to return only the top 20 holdings, aggregated by date and Cusip/Share.

In [8]:
# Sums up the holdings by date/cusip and returns a flattened dataframe with report_date as the index
summed_df = df.groupby(['report_date', 'cusip', 'sh_name'])['report_date', 'cusip', 'sh_name', 'val1000'].sum().reset_index()
summed_df.set_index('report_date')

                 cusip                       sh_name  val1000
report_date
2013-06-30   000360206                      AAON INC     1179
2013-06-30   000361105                      AAR CORP     2039
2013-06-30   000375204                       ABB LTD     4802
2013-06-30   00081T108              ACCO BRANDS CORP       65
2013-06-30   000957100                  ABM INDS INC     1731
2013-06-30   00101J106           THE ADT CORPORATION    12867
2013-06-30   001031103                  AEP INDS INC      536
2013-06-30   00104Q107           AFC ENTERPRISES INC     4421
2013-06-30   001055102                     AFLAC INC    75176
2013-06-30   001084102                     AGCO CORP    22610
2013-06-30   001084AM4                     AGCO CORP     4985
2013-06-30   001204106                   AGL RES INC    73703
2013-06-30   001228105            AG MTG INVT TR INC     1886
2013-06-30   001282102                 A H BELO CORP      351
2013-06-30   00130H105                      AES CORP    46543
2013-06-30   001547108              AK STL HLDG CORP     7072
2013-06-30   00163U106      AMAG PHARMACEUTICALS INC    94320
2013-06-30   00164V103              AMC NETWORKS INC    63902
2013-06-30   001744101   AMN HEALTHCARE SERVICES INC     1579
2013-06-30   00184X105                       AOL INC     8423
2013-06-30   00191G103    ARC DOCUMENT SOLUTIONS INC      411
2013-06-30   00206R102                      AT&T INC   233337
2013-06-30   00206R102                  AT&amp;T INC   181060
2013-06-30   00207R101                      ATMI INC     3638
2013-06-30   002255107             AU OPTRONICS CORP     2079
2013-06-30   00234PAB8                  AV HOMES INC     8805
2013-06-30   002444107                  AVX CORP NEW     1870
2013-06-30   00246W103                       AXT INC      167
2013-06-30   002474104                       AZZ INC     2920
2013-06-30   002535300                    AARONS INC      974
...                ...                           ...      ...
2018-06-30   m81873107                   RADWARE LTD     2768
2018-06-30   m85548101                 STRATASYS LTD     1978
2018-06-30   m8737e108  TARO PHARMACEUTICAL INDS LTD      541
2018-06-30   m87915274       TOWER SEMICONDUCTOR LTD    14800
2018-06-30   m9068e105  SODASTREAM INTERNATIONAL LTD     7186
2018-06-30   m96088105             UROGEN PHARMA LTD      745
2018-06-30   m96883109        VASCULAR BIOGENICS LTD       29
2018-06-30   m98068105                   WIX COM LTD    56261
2018-06-30   n00985106            AERCAP HOLDINGS NV      206
2018-06-30   n20146101                  CIMPRESS N V    11715
2018-06-30   n20944109                  CNH INDL N V     3252
2018-06-30   n22717107         CORE LABORATORIES N V     3344
2018-06-30   n3167y103                   FERRARI N V     2034
2018-06-30   n47279109         INTERXION HOLDING N.V    22151
2018-06-30   n53745100   LYONDELLBASELL INDUSTRIES N    32721
2018-06-30   n5749r100                     MERUS N V      713
2018-06-30   n59465109                     MYLAN N V     5656
2018-06-30   n72482123                     QIAGEN NV    14103
2018-06-30   n96617118          WRIGHT MED GROUP N V      682
2018-06-30   n97284108                    YANDEX N V    68858
2018-06-30   p31076105              COPA HOLDINGS SA    32239
2018-06-30   y11082107  CAPITAL PRODUCT PARTNERS L P     1156
2018-06-30   y2066g104            DIANA SHIPPING INC      866
2018-06-30   y2187a143       EAGLE BULK SHIPPING INC     2745
2018-06-30   y2573f102                      FLEX LTD    38645
2018-06-30   y2685t131  GENCO SHIPPING & TRADING LTD     3191
2018-06-30   y62267102  NAVIOS MARITIME PARTNERS L P      209
2018-06-30   y7388l103              SAFE BULKERS INC     1232
2018-06-30   y7546a122           SCORPIO BULKERS INC      874
2018-06-30   y8162k204       STAR BULK CARRIERS CORP      996

[140965 rows x 3 columns]

In [9]:
#Sets variables that will be used to loop through each report_date and select the top 20 by notional value
looper = summed_df.report_date.value_counts().index
top_df = pd.DataFrame(columns=['report_date', 'cusip', 'sh_name', 'val1000'])

In [10]:
for x in looper:
    top_df = top_df.append(summed_df[(summed_df.report_date == x)].nlargest(20, 'val1000'))

In [11]:
top_df = top_df.sort_values(['report_date', 'val1000'], ascending=[False, False]).reset_index().drop('index', axis=1)

## Now, the goal is to pull back stock tickers for all of the stocks that appear in our 420 row dataframe.  

#### This is a somewhat complicated task as stocks can undergo certain changes (which is why CUSIPS are often used as an identifier.

#### Fidelity seems to be the only free source of a cusip lookup, so I will first scrape there.  If there aren't too many NaNs after scraping Fidelity, I'll just figure out the rest of the tickers by hand.  If there are a lot, then I'll try some other automated solution.

In [10]:
# creates a list of unique cusips.
cusips = list(top_df.cusip.unique())

In [11]:
cusips[:5]

['037833100', '78462F103', '949746101', '060505104', '500754106']

In [21]:
url1 = 'https://quotes.fidelity.com/mmnet/SymLookup.phtml?reqforlookup=REQUESTFORLOOKUP&productid=mmnet&isLoggedIn=mmnet&rows=50&for=stock&by=cusip&criteria='
url2 = '&submit=Search'
ticker = []

for cusip in cusips:
    response = requests.get(url1+cusip+url2)
    time.sleep(1)
    soup = BeautifulSoup(response.text, 'html.parser')
    try:
        ticker.append(soup.find('td', {'align':'center'}).get_text())
    except:
        ticker.append(cusip+'Not Found')

In [12]:
#cusip_ticker = pd.DataFrame({'cusip':cusips, 'tickers':ticker})
cusip_ticker = pd.read_csv('cusip_ticker.csv')  
cusip_ticker.columns=['d', 'cusip', 'ticker']
cusip_ticker.drop('d', axis=1)
cusip_ticker.head()

   d      cusip ticker
0  0  949746101    WFC
1  1  500754106    KHC
2  2  191216100     KO
3  3  459200101    IBM
4  4  025816109    AXP

In [13]:
cusip_ticker[cusip_ticker.ticker.str.contains('Not')]
cusip_ticker.iloc[7,2] = 'SPY' 
cusip_ticker.iloc[10,2] = 'SPY' 
cusip_ticker.iloc[14,2] = 'VRX' #Company acquired by Bausch and Lomb 
cusip_ticker.iloc[20,2] = 'AAPL' #Looks like a miskey by the 13F filer
cusip_ticker.iloc[21,2] = 'DTV' #Company acquired by AT&T
cusip_ticker.iloc[29,2] = 'AGN' #Company acquired
cusip_ticker.iloc[33,2] = 'EMC' #Company acquired
cusip_ticker.iloc[46,2] = 'QQQ' #Fidelity tool not able to handle ETFs
cusip_ticker.iloc[48,2] = 'PCLN' #Company acquired by Bausch and Lomb 
cusip_ticker.iloc[56,2] = 'FRX' #Company acquired 
cusip_ticker.iloc[57,2] = 'MDT' #Company acquired 
cusip_ticker.iloc[58,2] = 'DWDP' #Company acquired 
cusip_ticker.iloc[60,2] = 'DELL' #Company went private 
cusip_ticker.iloc[61,2] = 'YHOO' #Company acquired 
cusip_ticker.iloc[64,2] = 'FDML' #Company went private

In [25]:
API = 'INAPOMK44YJBVQY9'
ts = TimeSeries(key='API', output_format='pandas', indexing_type='date')

In [27]:
alpha_data, alpha_meta_data = ts.get_daily_adjusted(symbol='WFC', outputsize='full')

In [28]:
alpha_data.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
1995-01-03,23.00,23.25,22.88,23.25,3.0971,311300.0,0.0,1.0
1995-01-04,23.12,23.38,22.75,22.88,3.0478,356800.0,0.0,1.0
1995-01-05,23.12,23.38,22.88,23.12,3.0798,766700.0,0.0,1.0
1995-01-06,23.00,23.50,23.00,23.25,3.0971,384600.0,0.0,1.0
1995-01-09,23.12,23.12,22.88,22.88,3.0478,202500.0,0.0,1.0

In [31]:
alpha_meta_data

{'1. Information': 'Daily Time Series with Splits and Dividend Events',
 '2. Symbol': 'WFC',
 '3. Last Refreshed': '2018-09-24 13:48:11',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

## The above "alpha_data" dataframe came from the alphavantage API.  Virtually all of the cusips belonging to the tickers above (cusips not found) were missing from AV.  So, I instead sourced the data from another source that has unadjusted close prices only.  Given the infrequency of my strategy's trading, the likelihood of corporate actions having a significant effect is low.

In [14]:
prices = pd.read_csv('13F_prices.txt', index_col=0, header=None, names=['date', 'ticker', 'price'])
prices.reset_index(inplace=True)

In [15]:
top_df = pd.merge(top_df, cusip_ticker, how='left', on='cusip').drop('d', axis=1)

In [16]:
top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 5 columns):
report_date    420 non-null datetime64[ns]
cusip          420 non-null object
sh_name        420 non-null object
val1000        420 non-null object
ticker         420 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.7+ KB

##  The dates I have are the dates when the investors held a position.  Their reports are filed 43-45 days after this date.  To make my life easier, I ignored the "filing_date" column from my 13F scraper and just use the next business day 44 days after the "report_date" col.

In [17]:
top_df['buy_date'] = top_df['report_date'].apply(lambda x: x +  timedelta(days=44) + BDay(1))

In [18]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71214 entries, 0 to 71213
Data columns (total 3 columns):
date      71214 non-null object
ticker    71214 non-null object
price     71214 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.6+ MB

In [19]:
prices['date'] = pd.to_datetime(prices.date)

In [20]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71214 entries, 0 to 71213
Data columns (total 3 columns):
date      71214 non-null datetime64[ns]
ticker    71214 non-null object
price     71214 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.6+ MB

In [21]:
top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 6 columns):
report_date    420 non-null datetime64[ns]
cusip          420 non-null object
sh_name        420 non-null object
val1000        420 non-null object
ticker         420 non-null object
buy_date       420 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 23.0+ KB

In [22]:
top_df.head()

  report_date      cusip               sh_name   val1000 ticker   buy_date
0  2018-06-30  037833100             APPLE INC  54835353   AAPL 2018-08-14
1  2018-06-30  78462F103   SPDR S&P 500 ETF TR  29281034    SPY 2018-08-14
2  2018-06-30  949746101  WELLS FARGO & CO NEW  25059643    WFC 2018-08-14
3  2018-06-30  060505104        BANK AMER CORP  21612437    BAC 2018-08-14
4  2018-06-30  500754106        KRAFT HEINZ CO  20906754    KHC 2018-08-14

In [23]:
prices.head()

        date            ticker       price
0 2013-07-01  AAPL              409.220001
1 2013-07-01  AGN               125.440002
2 2013-07-01  AIG                45.090000
3 2013-07-01  AMGN               97.489998
4 2013-07-01  AMZN              282.100000

In [24]:
pd.merge(top_df, prices, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'date'])

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
0,2018-06-30,037833100,APPLE INC,54835353,AAPL,2018-08-14,NaT,NaN
1,2018-06-30,78462F103,SPDR S&P 500 ETF TR,29281034,SPY,2018-08-14,NaT,NaN
2,2018-06-30,949746101,WELLS FARGO & CO NEW,25059643,WFC,2018-08-14,NaT,NaN
3,2018-06-30,060505104,BANK AMER CORP,21612437,BAC,2018-08-14,NaT,NaN
4,2018-06-30,500754106,KRAFT HEINZ CO,20906754,KHC,2018-08-14,NaT,NaN
5,2018-06-30,191216100,COCA COLA CO,18764843,KO,2018-08-14,NaT,NaN
6,2018-06-30,023135106,AMAZON COM INC,18040550,AMZN,2018-08-14,NaT,NaN
7,2018-06-30,025816109,AMERICAN EXPRESS CO,15349606,AXP,2018-08-14,NaT,NaN
8,2018-06-30,451100101,ICAHN ENTERPRISES LP,11826854,IEP,2018-08-14,NaT,NaN
9,2018-06-30,594918104,MICROSOFT CORP,10012998,MSFT,2018-08-14,NaT,NaN
10,2018-06-30,46090E103,INVESCO QQQ TR,8792866,QQQ,2018-08-14,NaT,NaN
11,2018-06-30,30303M102,FACEBOOK INC,7889607,FB,2018-08-14,NaT,NaN
12,2018-06-30,902973304,US BANCORP DEL,5900933,USB,2018-08-14,NaT,NaN
13,2018-06-30,02079K305,ALPHABET INC,5628594,GOOGL,2018-08-14,NaT,NaN
14,2018-06-30,01609W102,ALIBABA GROUP HLDG LTD,5567397,BABA,2018-08-14,NaT,NaN
15,2018-06-30,949746101,WELLS FARGO CO NEW,4927435,WFC,2018-08-14,NaT,NaN
16,2018-06-30,64110L106,NETFLIX INC,4726743,NFLX,2018-08-14,NaT,NaN
17,2018-06-30,09857L108,BOOKING HLDGS INC,4713032,BKNG,2018-08-14,NaT,NaN
18,2018-06-30,464287655,ISHARES TR,4514721,IWM,2018-08-14,NaT,NaN
19,2018-06-30,46625H100,JPMORGAN CHASE & CO,4413777,JPM,2018-08-14,NaT,NaN
20,2018-03-31,037833100,APPLE INC,47923184,AAPL,2018-05-15,NaT,NaN
21,2018-03-31,78462F103,SPDR S&P 500 ETF TR,37066795,SPY,2018-05-15,NaT,NaN
22,2018-03-31,949746101,WELLS FARGO & CO NEW,23925858,WFC,2018-05-15,NaT,NaN
23,2018-03-31,060505104,BANK AMER CORP,22663295,BAC,2018-05-15,NaT,NaN
24,2018-03-31,500754106,KRAFT HEINZ CO,20632060,KHC,2018-05-15,NaT,NaN
25,2018-03-31,191216100,COCA COLA CO,18753685,KO,2018-05-15,NaT,NaN
26,2018-03-31,025816109,AMERICAN EXPRESS CO,14527235,AXP,2018-05-15,NaT,NaN
27,2018-03-31,023135106,AMAZON COM INC,13610132,AMZN,2018-05-15,NaT,NaN
28,2018-03-31,594918104,MICROSOFT CORP,9970413,MSFT,2018-05-15,NaT,NaN
29,2018-03-31,73935A104,POWERSHARES QQQ TRUST,9494668,QQQ,2018-05-15,NaT,NaN
...,...,...,...,...,...,...,...,...
390,2013-09-30,464287234,ISHARES,3019285,EEM,2013-11-14,NaT,NaN
391,2013-09-30,902973304,US BANCORP DEL,2992824,USB,2013-11-14,NaT,NaN
392,2013-09-30,13645T100,CANADIAN PAC RY LTD,2973301,CP,2013-11-14,NaT,NaN
393,2013-09-30,12662P108,CVR ENERGY INC,2771564,CVI,2013-11-14,NaT,NaN
394,2013-09-30,037833100,APPLE INC,2753258,AAPL,2013-11-14,NaT,NaN
395,2013-09-30,009158106,AIR PRODS & CHEMS INC,2223424,APD,2013-11-14,NaT,NaN
396,2013-09-30,25490A309,DIRECTV,2211820,DTV,2013-11-14,NaT,NaN
397,2013-09-30,313549404,FEDERAL MOGUL CORP,2035891,FDML,2013-11-14,NaT,NaN
398,2013-09-30,64110L106,NETFLIX INC,2010850,NFLX,2013-11-14,NaT,NaN
399,2013-09-30,37045V100,GENERAL MTRS CO,1843614,GM,2013-11-14,NaT,NaN
400,2013-06-30,949746101,WELLS FARGO & CO NEW,19599030,WFC,2013-08-14,NaT,NaN
401,2013-06-30,191216100,COCA COLA CO,16721876,KO,2013-08-14,NaT,NaN
402,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13557442,IBM,2013-08-14,NaT,NaN
403,2013-06-30,025816109,AMERICAN EXPRESS CO,11452604,AXP,2013-08-14,NaT,NaN
404,2013-06-30,451100101,ICAHN ENTERPRISES LP,7219791,IEP,2013-08-14,NaT,NaN
405,2013-06-30,742718109,PROCTER & GAMBLE CO,6954607,PG,2013-08-14,NaT,NaN
406,2013-06-30,922042858,VANGUARD INTL EQUITY INDEX F,3848038,VWO,2013-08-14,NaT,NaN
407,2013-06-30,931142103,WAL MART STORES INC,3668426,WMT,2013-08-14,NaT,NaN
408,2013-06-30,12662P108,CVR ENERGY INC,3416439,CVI,2013-08-14,NaT,NaN
409,2013-06-30,78462F103,SPDR S&P 500 ETF TR,3179348,SPY,2013-08-14,NaT,NaN
410,2013-06-30,464287234,ISHARES TR,3143982,EEM,2013-08-14,NaT,NaN
411,2013-06-30,902973304,US BANCORP DEL,3000228,USB,2013-08-14,NaT,NaN
412,2013-06-30,13645T100,CANADIAN PAC RY LTD,2957935,CP,2013-08-14,NaT,NaN
413,2013-06-30,24702R101,DELL INC,2450000,DELL,2013-08-14,NaT,NaN
414,2013-06-30,25490A309,DIRECTV,2355000,DTV,2013-08-14,NaT,NaN
415,2013-06-30,984332106,YAHOO INC,1978203,YHOO,2013-08-14,NaT,NaN
416,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1836121,DVA,2013-08-14,NaT,NaN
417,2013-06-30,718546104,PHILLIPS 66,1793172,PSX,2013-08-14,NaT,NaN
418,2013-06-30,615369105,MOODYS CORP,1592970,MCO,2013-08-14,NaT,NaN
419,2013-06-30,20825C104,CONOCOPHILLIPS,1511450,COP,2013-08-14,NaT,NaN

### I found it weird that the above didn't work.  I spent a lot of time converting the datetime objects using various modules from pd.datetime and datetime.  Eventually, I figured out that there was whitespace in the prices.ticker column.

In [25]:
prices['ticker']=prices['ticker'].str.strip()

In [26]:
merged = pd.merge(top_df, prices, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'date'])

In [27]:
merged

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
0,2018-06-30,037833100,APPLE INC,54835353,AAPL,2018-08-14,2018-08-14,209.750000
1,2018-06-30,78462F103,SPDR S&P 500 ETF TR,29281034,SPY,2018-08-14,2018-08-14,283.900000
2,2018-06-30,949746101,WELLS FARGO & CO NEW,25059643,WFC,2018-08-14,2018-08-14,58.070000
3,2018-06-30,060505104,BANK AMER CORP,21612437,BAC,2018-08-14,2018-08-14,30.790000
4,2018-06-30,500754106,KRAFT HEINZ CO,20906754,KHC,2018-08-14,2018-08-14,59.520000
5,2018-06-30,191216100,COCA COLA CO,18764843,KO,2018-08-14,2018-08-14,45.890000
6,2018-06-30,023135106,AMAZON COM INC,18040550,AMZN,2018-08-14,2018-08-14,1919.650000
7,2018-06-30,025816109,AMERICAN EXPRESS CO,15349606,AXP,2018-08-14,2018-08-14,102.180000
8,2018-06-30,451100101,ICAHN ENTERPRISES LP,11826854,IEP,2018-08-14,NaT,NaN
9,2018-06-30,594918104,MICROSOFT CORP,10012998,MSFT,2018-08-14,2018-08-14,109.560000
10,2018-06-30,46090E103,INVESCO QQQ TR,8792866,QQQ,2018-08-14,NaT,NaN
11,2018-06-30,30303M102,FACEBOOK INC,7889607,FB,2018-08-14,2018-08-14,181.110000
12,2018-06-30,902973304,US BANCORP DEL,5900933,USB,2018-08-14,2018-08-14,53.170000
13,2018-06-30,02079K305,ALPHABET INC,5628594,GOOGL,2018-08-14,2018-08-14,1258.140000
14,2018-06-30,01609W102,ALIBABA GROUP HLDG LTD,5567397,BABA,2018-08-14,2018-08-14,172.530000
15,2018-06-30,949746101,WELLS FARGO CO NEW,4927435,WFC,2018-08-14,2018-08-14,58.070000
16,2018-06-30,64110L106,NETFLIX INC,4726743,NFLX,2018-08-14,2018-08-14,337.490000
17,2018-06-30,09857L108,BOOKING HLDGS INC,4713032,BKNG,2018-08-14,2018-08-14,1833.550000
18,2018-06-30,464287655,ISHARES TR,4514721,IWM,2018-08-14,NaT,NaN
19,2018-06-30,46625H100,JPMORGAN CHASE & CO,4413777,JPM,2018-08-14,2018-08-14,114.650000
20,2018-03-31,037833100,APPLE INC,47923184,AAPL,2018-05-15,2018-05-15,186.440000
21,2018-03-31,78462F103,SPDR S&P 500 ETF TR,37066795,SPY,2018-05-15,2018-05-15,271.100000
22,2018-03-31,949746101,WELLS FARGO & CO NEW,23925858,WFC,2018-05-15,2018-05-15,54.750000
23,2018-03-31,060505104,BANK AMER CORP,22663295,BAC,2018-05-15,2018-05-15,31.220000
24,2018-03-31,500754106,KRAFT HEINZ CO,20632060,KHC,2018-05-15,2018-05-15,59.040000
25,2018-03-31,191216100,COCA COLA CO,18753685,KO,2018-05-15,2018-05-15,41.720000
26,2018-03-31,025816109,AMERICAN EXPRESS CO,14527235,AXP,2018-05-15,2018-05-15,100.740000
27,2018-03-31,023135106,AMAZON COM INC,13610132,AMZN,2018-05-15,2018-05-15,1576.120000
28,2018-03-31,594918104,MICROSOFT CORP,9970413,MSFT,2018-05-15,2018-05-15,97.320000
29,2018-03-31,73935A104,POWERSHARES QQQ TRUST,9494668,QQQ,2018-05-15,NaT,NaN
...,...,...,...,...,...,...,...,...
424,2013-09-30,13645T100,CANADIAN PAC RY LTD,2973301,CP,2013-11-14,2013-11-14,148.979996
425,2013-09-30,12662P108,CVR ENERGY INC,2771564,CVI,2013-11-14,2013-11-14,37.650002
426,2013-09-30,037833100,APPLE INC,2753258,AAPL,2013-11-14,2013-11-14,528.159973
427,2013-09-30,009158106,AIR PRODS & CHEMS INC,2223424,APD,2013-11-14,2013-11-14,108.669998
428,2013-09-30,25490A309,DIRECTV,2211820,DTV,2013-11-14,2013-11-14,64.349998
429,2013-09-30,313549404,FEDERAL MOGUL CORP,2035891,FDML,2013-11-14,2013-11-14,20.080000
430,2013-09-30,64110L106,NETFLIX INC,2010850,NFLX,2013-11-14,2013-11-14,342.570007
431,2013-09-30,37045V100,GENERAL MTRS CO,1843614,GM,2013-11-14,2013-11-14,38.500000
432,2013-06-30,949746101,WELLS FARGO & CO NEW,19599030,WFC,2013-08-14,2013-08-14,43.099998
433,2013-06-30,191216100,COCA COLA CO,16721876,KO,2013-08-14,2013-08-14,39.529999
434,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13557442,IBM,2013-08-14,2013-08-14,187.529999
435,2013-06-30,025816109,AMERICAN EXPRESS CO,11452604,AXP,2013-08-14,2013-08-14,75.879997
436,2013-06-30,451100101,ICAHN ENTERPRISES LP,7219791,IEP,2013-08-14,NaT,NaN
437,2013-06-30,742718109,PROCTER & GAMBLE CO,6954607,PG,2013-08-14,2013-08-14,81.250000
438,2013-06-30,742718109,PROCTER & GAMBLE CO,6954607,PG,2013-08-14,2013-08-14,2.700000
439,2013-06-30,922042858,VANGUARD INTL EQUITY INDEX F,3848038,VWO,2013-08-14,NaT,NaN
440,2013-06-30,931142103,WAL MART STORES INC,3668426,WMT,2013-08-14,2013-08-14,76.400002
441,2013-06-30,12662P108,CVR ENERGY INC,3416439,CVI,2013-08-14,2013-08-14,44.680000
442,2013-06-30,78462F103,SPDR S&P 500 ETF TR,3179348,SPY,2013-08-14,NaT,NaN
443,2013-06-30,464287234,ISHARES TR,3143982,EEM,2013-08-14,2013-08-14,40.099998
444,2013-06-30,902973304,US BANCORP DEL,3000228,USB,2013-08-14,2013-08-14,36.970001
445,2013-06-30,13645T100,CANADIAN PAC RY LTD,2957935,CP,2013-08-14,2013-08-14,126.440002
446,2013-06-30,13645T100,CANADIAN PAC RY LTD,2957935,CP,2013-08-14,2013-08-14,122.350000
447,2013-06-30,24702R101,DELL INC,2450000,DELL,2013-08-14,2013-08-14,14.330000
448,2013-06-30,25490A309,DIRECTV,2355000,DTV,2013-08-14,2013-08-14,61.410000
449,2013-06-30,984332106,YAHOO INC,1978203,YHOO,2013-08-14,2013-08-14,28.049999
450,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1836121,DVA,2013-08-14,2013-08-14,114.599998
451,2013-06-30,718546104,PHILLIPS 66,1793172,PSX,2013-08-14,2013-08-14,58.790001
452,2013-06-30,615369105,MOODYS CORP,1592970,MCO,2013-08-14,2013-08-14,65.500000
453,2013-06-30,20825C104,CONOCOPHILLIPS,1511450,COP,2013-08-14,2013-08-14,67.160004

##  Looks like there was some data missing from my prices file.  I'm going to see if I can solve the problem easily

In [28]:
bad_tickers = merged[merged['price'].isna()].ticker.unique()
bad_dates = merged[merged.date.isna()].buy_date.unique()

In [29]:
bad_tickers

array(['IEP', 'QQQ', 'IWM', 'GOOG', 'PCLN', 'VWO', 'EMC', 'AGN', 'VRX',
       'DTV', 'SPY', 'DWDP'], dtype=object)

In [30]:
prices[(prices.date.isin(bad_dates))&(prices.ticker=='IEP')]

            date ticker  price
26629 2015-05-15    IEP  91.85

In [31]:
merged[merged.ticker=='IEP']

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
8,2018-06-30,451100101,ICAHN ENTERPRISES LP,11826854,IEP,2018-08-14,NaT,NaN
30,2018-03-31,451100101,ICAHN ENTERPRISES LP,9007801,IEP,2018-05-15,NaT,NaN
50,2017-12-31,451100101,ICAHN ENTERPRISES LP,8369991,IEP,2018-02-14,NaT,NaN
68,2017-09-30,451100101,ICAHN ENTERPRISES LP,8420874,IEP,2017-11-14,NaT,NaN
89,2017-06-30,451100101,ICAHN ENTERPRISES LP,7712502,IEP,2017-08-14,NaT,NaN
111,2017-03-31,451100101,ICAHN ENTERPRISES LP,7201477,IEP,2017-05-15,NaT,NaN
130,2016-12-31,451100101,ICAHN ENTERPRISES LP,7791664,IEP,2017-02-14,NaT,NaN
152,2016-09-30,451100101,ICAHN ENTERPRISES LP,6425167,IEP,2016-11-14,NaT,NaN
169,2016-06-30,451100101,ICAHN ENTERPRISES LP,6672168,IEP,2016-08-15,NaT,NaN
188,2016-03-31,451100101,ICAHN ENTERPRISES LP,7422606,IEP,2016-05-16,NaT,NaN
209,2015-12-31,451100101,ICAHN ENTERPRISES LP,7174664,IEP,2016-02-15,NaT,NaN
231,2015-09-30,451100101,ICAHN ENTERPRISES LP,7677234,IEP,2015-11-16,NaT,NaN
252,2015-06-30,451100101,ICAHN ENTERPRISES LP,9737477,IEP,2015-08-14,NaT,NaN
272,2015-03-31,451100101,ICAHN ENTERPRISES LP,9756192,IEP,2015-05-15,2015-05-15,91.85
295,2014-12-31,451100101,ICAHN ENTERPRISES LP,10062256,IEP,2015-02-16,NaT,NaN
316,2014-09-30,451100101,ICAHN ENTERPRISES LP,11347389,IEP,2014-11-14,NaT,NaN
337,2014-06-30,451100101,ICAHN ENTERPRISES LP,10552492,IEP,2014-08-14,NaT,NaN
361,2014-03-31,451100101,ICAHN ENTERPRISES LP,10566566,IEP,2014-05-15,NaT,NaN
390,2013-12-31,451100101,ICAHN ENTERPRISES LP,11145915,IEP,2014-02-14,NaT,NaN
414,2013-09-30,451100101,ICAHN ENTERPRISES LP,8363340,IEP,2013-11-14,NaT,NaN
436,2013-06-30,451100101,ICAHN ENTERPRISES LP,7219791,IEP,2013-08-14,NaT,NaN

In [53]:
bad = merged[merged.ticker.isin(bad_tickers)&(merged.price.isna())].sort_values(by='ticker')

In [54]:
bad

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
216,2015-12-31,G0177J108,ALLERGAN PLC,4706704,AGN,2016-02-15,NaT,NaN
259,2015-06-30,25490A309,DIRECTV,4779892,DTV,2015-08-14,NaT,NaN
328,2014-09-30,25490A309,DIRECTV,3697653,DTV,2014-11-14,NaT,NaN
305,2014-12-31,25490A309,DIRECTV,3951832,DTV,2015-02-16,NaT,NaN
287,2015-03-31,25490A309,DIRECTV,3891948,DTV,2015-05-15,NaT,NaN
331,2014-09-30,260543103,DOW CHEM CO,3539742,DWDP,2014-11-14,NaT,NaN
196,2016-03-31,268648102,E M C CORP MASS,3939809,EMC,2016-05-16,NaT,NaN
176,2016-06-30,268648102,E M C CORP MASS,4264695,EMC,2016-08-15,NaT,NaN
60,2017-12-31,02079K107,ALPHABET INC,4300285,GOOG,2018-02-14,NaT,NaN
361,2014-03-31,451100101,ICAHN ENTERPRISES LP,10566566,IEP,2014-05-15,NaT,NaN
390,2013-12-31,451100101,ICAHN ENTERPRISES LP,11145915,IEP,2014-02-14,NaT,NaN
316,2014-09-30,451100101,ICAHN ENTERPRISES LP,11347389,IEP,2014-11-14,NaT,NaN
414,2013-09-30,451100101,ICAHN ENTERPRISES LP,8363340,IEP,2013-11-14,NaT,NaN
252,2015-06-30,451100101,ICAHN ENTERPRISES LP,9737477,IEP,2015-08-14,NaT,NaN
231,2015-09-30,451100101,ICAHN ENTERPRISES LP,7677234,IEP,2015-11-16,NaT,NaN
337,2014-06-30,451100101,ICAHN ENTERPRISES LP,10552492,IEP,2014-08-14,NaT,NaN
209,2015-12-31,451100101,ICAHN ENTERPRISES LP,7174664,IEP,2016-02-15,NaT,NaN
188,2016-03-31,451100101,ICAHN ENTERPRISES LP,7422606,IEP,2016-05-16,NaT,NaN
295,2014-12-31,451100101,ICAHN ENTERPRISES LP,10062256,IEP,2015-02-16,NaT,NaN
436,2013-06-30,451100101,ICAHN ENTERPRISES LP,7219791,IEP,2013-08-14,NaT,NaN
8,2018-06-30,451100101,ICAHN ENTERPRISES LP,11826854,IEP,2018-08-14,NaT,NaN
68,2017-09-30,451100101,ICAHN ENTERPRISES LP,8420874,IEP,2017-11-14,NaT,NaN
30,2018-03-31,451100101,ICAHN ENTERPRISES LP,9007801,IEP,2018-05-15,NaT,NaN
50,2017-12-31,451100101,ICAHN ENTERPRISES LP,8369991,IEP,2018-02-14,NaT,NaN
152,2016-09-30,451100101,ICAHN ENTERPRISES LP,6425167,IEP,2016-11-14,NaT,NaN
89,2017-06-30,451100101,ICAHN ENTERPRISES LP,7712502,IEP,2017-08-14,NaT,NaN
169,2016-06-30,451100101,ICAHN ENTERPRISES LP,6672168,IEP,2016-08-15,NaT,NaN
111,2017-03-31,451100101,ICAHN ENTERPRISES LP,7201477,IEP,2017-05-15,NaT,NaN
130,2016-12-31,451100101,ICAHN ENTERPRISES LP,7791664,IEP,2017-02-14,NaT,NaN
18,2018-06-30,464287655,ISHARES TR,4514721,IWM,2018-08-14,NaT,NaN
37,2018-03-31,464287655,ISHARES TR,4419170,IWM,2018-05-15,NaT,NaN
142,2016-12-31,741503403,PRICELINE GRP INC,3704189,PCLN,2017-02-14,NaT,NaN
98,2017-06-30,741503403,PRICELINE GRP INC,4338274,PCLN,2017-08-14,NaT,NaN
79,2017-09-30,741503403,PRICELINE GRP INC,4199291,PCLN,2017-11-14,NaT,NaN
119,2017-03-31,741503403,PRICELINE GRP INC,4007073,PCLN,2017-05-15,NaT,NaN
10,2018-06-30,46090E103,INVESCO QQQ TR,8792866,QQQ,2018-08-14,NaT,NaN
29,2018-03-31,73935A104,POWERSHARES QQQ TRUST,9494668,QQQ,2018-05-15,NaT,NaN
141,2016-12-31,73935A104,POWERSHARES QQQ TRUST,3755022,QQQ,2017-02-14,NaT,NaN
99,2017-06-30,73935A104,POWERSHARES QQQ TRUST,4330193,QQQ,2017-08-14,NaT,NaN
118,2017-03-31,73935A104,POWERSHARES QQQ TRUST,4444607,QQQ,2017-05-15,NaT,NaN
57,2017-12-31,73935A104,POWERSHARES QQQ TRUST,5140654,QQQ,2018-02-14,NaT,NaN
403,2013-12-31,78462F103,SPDR S&P 500 ETF TR,3661003,SPY,2014-02-14,NaT,NaN
348,2014-06-30,78462F103,SPDR S&P 500 ETF TR,4048758,SPY,2014-08-14,NaT,NaN
418,2013-09-30,78462F103,SPDR S&P 500 ETF TR,4144194,SPY,2013-11-14,NaT,NaN
376,2014-03-31,78462F103,SPDR S&P 500 ETF TR,3782811,SPY,2014-05-15,NaT,NaN
442,2013-06-30,78462F103,SPDR S&P 500 ETF TR,3179348,SPY,2013-08-14,NaT,NaN
327,2014-09-30,78462F103,SPDR S&P 500 ETF TR,3857050,SPY,2014-11-14,NaT,NaN
282,2015-03-31,91911K102,VALEANT PHARMACEUTICALS INTL,4331726,VRX,2015-05-15,NaT,NaN
258,2015-06-30,91911K102,VALEANT PHARMACEUTICALS INTL,4801700,VRX,2015-08-14,NaT,NaN
241,2015-09-30,91911K102,VALEANT PHARMACEUTICALS INTL,3841216,VRX,2015-11-16,NaT,NaN
345,2014-06-30,922042858,VANGUARD INTL EQUITY INDEX F,4772561,VWO,2014-08-14,NaT,NaN
323,2014-09-30,922042858,VANGUARD INTL EQUITY INDEX F,4685373,VWO,2014-11-14,NaT,NaN
302,2014-12-31,922042858,VANGUARD INTL EQUITY INDEX F,4695384,VWO,2015-02-16,NaT,NaN
372,2014-03-31,922042858,VANGUARD INTL EQUITY INDEX F,4281761,VWO,2014-05-15,NaT,NaN
280,2015-03-31,922042858,VANGUARD INTL EQUITY INDEX F,4619807,VWO,2015-05-15,NaT,NaN
398,2013-12-31,922042858,VANGUARD INTL EQUITY INDEX F,4278088,VWO,2014-02-14,NaT,NaN
260,2015-06-30,922042858,VANGUARD INTL EQUITY INDEX F,4650241,VWO,2015-08-14,NaT,NaN
439,2013-06-30,922042858,VANGUARD INTL EQUITY INDEX F,3848038,VWO,2013-08-14,NaT,NaN
419,2013-09-30,922042858,VANGUARD INTL EQUITY INDEX F,4077763,VWO,2013-11-14,NaT,NaN
162,2016-09-30,922042858,VANGUARD INTL EQUITY INDEX F,3030101,VWO,2016-11-14,NaT,NaN

## There aren't too many of these, so I'm going to try and source them from AlphaVantage, and barring that, look them up in Yahoo.  In a worst case scenario, I'll drop the ticker(s) from my dataset completely.

In [58]:
for tick in bad_tickers:
    time.sleep(10)
    data, metadata = ts.get_daily_adjusted(symbol=tick, outputsize='full')
    data['ticker'] = tick
    alpha_data.append(data)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

ValueError: Thank you for using Alpha Vantage! Please visit https://www.alphavantage.co/premium/ if you would like to have a higher API call volume.

## Well, that's not going to work

In [60]:
bad=bad.reset_index()

In [63]:
bad = bad.drop('index', axis=1)

In [68]:
bad.iloc[0]

report_date    2015-06-30 00:00:00
cusip                    25490A309
sh_name                    DIRECTV
val1000                    4779892
ticker                         DTV
buy_date       2015-08-14 00:00:00
date           2015-08-14 00:00:00
price                          NaN
Name: 1, dtype: object

In [104]:
list(cusip_ticker['ticker'])

['WFC',
 'KHC',
 'KO',
 'IBM',
 'AXP',
 'AAPL',
 'IEP',
 'SPY',
 'MSFT',
 'PG',
 'SPY',
 'PSX',
 'USB',
 'APD',
 'VRX',
 'T',
 'AMGN',
 'WMT',
 'PEP',
 'PFE',
 'AAPL',
 'DTV',
 'VWO',
 'EBAY',
 'GM',
 'AIG',
 'AGN',
 'AMZN',
 'MDT',
 'AGN',
 'MRK',
 'SPY',
 'CHTR',
 'EMC',
 'JPM',
 'DVA',
 'CVX',
 'BAX',
 'BAC',
 'QQQ',
 'FB',
 'GOOGL',
 'BABA',
 'NFLX',
 'BKNG',
 'IWM',
 'QQQ',
 'GS',
 'PCLN',
 'DAL',
 'GE',
 'GOOG',
 'HOLX',
 'XOM',
 'CVI',
 'EEM',
 'FRX',
 'MDT',
 'DWDP',
 'CP',
 'DELL',
 'YHOO',
 'MCO',
 'COP',
 'FDML']

In [75]:
bad.iloc[0,7] = 304.51

## Since I'm going to add stuff by hand, it'll be easier to just do it in Excel.

In [82]:
bad.to_csv('missing.csv')

In [83]:
prices = pd.read_csv('13F_prices_w-missing.csv', index_col=0, header=None, names=['date', 'ticker', 'price'])
prices.reset_index(inplace=True)

In [84]:
prices['date'] = pd.to_datetime(prices.date)

In [98]:
prices['ticker']=prices['ticker'].str.strip()
merged = pd.merge(top_df, prices, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'date'])

In [118]:
merged[merged.buy_date.between('2014-11-01', '2014-11-25')]

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
312,2014-09-30,949746101,WELLS FARGO & CO NEW,26622642,WFC,2014-11-14,2014-11-14,53.3500
313,2014-09-30,191216100,COCA COLA CO,17684439,KO,2014-11-14,2014-11-14,42.7300
314,2014-09-30,459200101,INTERNATIONAL BUSINESS MACHS,14514852,IBM,2014-11-14,2014-11-14,164.1600
315,2014-09-30,025816109,AMERICAN EXPRESS CO,13673170,AXP,2014-11-14,2014-11-14,90.6700
316,2014-09-30,451100101,ICAHN ENTERPRISES LP,11347389,IEP,2014-11-14,2014-11-14,105.3100
317,2014-09-30,037833100,APPLE INC,9466057,AAPL,2014-11-14,2014-11-14,114.1800
318,2014-09-30,30231G102,EXXON MOBIL CORP,6107645,XOM,2014-11-14,2014-11-14,95.0900
319,2014-09-30,018490102,ALLERGAN INC,6096637,AGN,2014-11-14,2014-11-14,243.7700
320,2014-09-30,742718109,PROCTER & GAMBLE CO,5527385,PG,2014-11-14,2014-11-14,2.0800
321,2014-09-30,742718109,PROCTER & GAMBLE CO,5527385,PG,2014-11-14,2014-11-14,88.1100
322,2014-09-30,594918104,MICROSOFT CORP,5340681,MSFT,2014-11-14,2014-11-14,49.5800
323,2014-09-30,922042858,VANGUARD INTL EQUITY INDEX F,4685373,VWO,2014-11-14,2014-11-14,42.1300
324,2014-09-30,58933Y105,MERCK & CO INC NEW,4622818,MRK,2014-11-14,2014-11-14,59.0700
325,2014-09-30,931142103,WAL MART STORES INC,4617663,WMT,2014-11-14,2014-11-14,82.9600
326,2014-09-30,009158106,AIR PRODS & CHEMS INC,4001135,APD,2014-11-14,2014-11-14,134.7100
327,2014-09-30,78462F103,SPDR S&P 500 ETF TR,3857050,SPY,2014-11-14,2014-11-14,204.2400
328,2014-09-30,25490A309,DIRECTV,3697653,DTV,2014-11-14,2014-11-14,87.5500
329,2014-09-30,717081103,PFIZER INC,3565952,PFE,2014-11-14,2014-11-14,30.3400
330,2014-09-30,902973304,US BANCORP DEL,3546518,USB,2014-11-14,2014-11-14,43.7300
331,2014-09-30,260543103,DOW CHEM CO,3539742,DWDP,2014-11-14,2014-11-14,45.4292
332,2014-09-30,464287234,ISHARES TR,3405664,EEM,2014-11-14,2014-11-14,41.4600

In [117]:
top_df[top_df.ticker=='YHOO']

    report_date      cusip    sh_name  val1000 ticker   buy_date
415  2013-06-30  984332106  YAHOO INC  1978203   YHOO 2013-08-14