In [1]:
import pandas as pd
from pandas.tseries.offsets import BDay 
import requests
from bs4 import BeautifulSoup
from datetime import time, timedelta, date

#Alpha_Vantage is a stock data provider.  This library makes api calls much easier 
import alpha_vantage
from alpha_vantage.timeseries import TimeSeries

## First, we'll read in the data output by the scraper and do any cleaning that didn't survive the "to_csv" part of the last notebook.

In [2]:
df = pd.read_csv('AllHoldings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390168 entries, 0 to 390167
Data columns (total 12 columns):
manager            390168 non-null object
filing_date        390168 non-null object
report_date        390168 non-null object
sh_name            390168 non-null object
sh_class           390168 non-null object
cusip              390168 non-null object
val1000            390168 non-null int64
share_count        390168 non-null int64
share_or_prin      390168 non-null object
discretion         390168 non-null object
sole_vote_amt      390168 non-null int64
shared_vote_amt    390168 non-null int64
dtypes: int64(4), object(8)
memory usage: 35.7+ MB

In [4]:
df['report_date'] = pd.to_datetime(df.report_date)

In [5]:
df['filing_date'] = pd.to_datetime(df.filing_date)

## The next step is to return only the top 20 holdings, aggregated by date and Cusip/Share.

In [6]:
# Sums up the holdings by date/cusip and returns a flattened dataframe with report_date as the index
summed_df = df.groupby(['report_date', 'cusip', 'sh_name'])['report_date', 'cusip', 'sh_name', 'val1000'].sum().reset_index()
summed_df.set_index('report_date')

                 cusip                       sh_name  val1000
report_date
2013-06-30   000360206                      AAON INC     1179
2013-06-30   000361105                      AAR CORP     2039
2013-06-30   000375204                       ABB LTD     4802
2013-06-30   00081T108              ACCO BRANDS CORP       65
2013-06-30   000957100                  ABM INDS INC     1731
2013-06-30   00101J106           THE ADT CORPORATION    12867
2013-06-30   001031103                  AEP INDS INC      536
2013-06-30   00104Q107           AFC ENTERPRISES INC     4421
2013-06-30   001055102                     AFLAC INC    75176
2013-06-30   001084102                     AGCO CORP    22610
2013-06-30   001084AM4                     AGCO CORP     4985
2013-06-30   001204106                   AGL RES INC    73703
2013-06-30   001228105            AG MTG INVT TR INC     1886
2013-06-30   001282102                 A H BELO CORP      351
2013-06-30   00130H105                      AES CORP    46543
2013-06-30   001547108              AK STL HLDG CORP     7072
2013-06-30   00163U106      AMAG PHARMACEUTICALS INC    94320
2013-06-30   00164V103              AMC NETWORKS INC    63902
2013-06-30   001744101   AMN HEALTHCARE SERVICES INC     1579
2013-06-30   00184X105                       AOL INC     8423
2013-06-30   00191G103    ARC DOCUMENT SOLUTIONS INC      411
2013-06-30   00206R102                      AT&T INC   233337
2013-06-30   00206R102                  AT&amp;T INC   181060
2013-06-30   00207R101                      ATMI INC     3638
2013-06-30   002255107             AU OPTRONICS CORP     2079
2013-06-30   00234PAB8                  AV HOMES INC     8805
2013-06-30   002444107                  AVX CORP NEW     1870
2013-06-30   00246W103                       AXT INC      167
2013-06-30   002474104                       AZZ INC     2920
2013-06-30   002535300                    AARONS INC      974
...                ...                           ...      ...
2018-06-30   m81873107                   RADWARE LTD     2768
2018-06-30   m85548101                 STRATASYS LTD     1978
2018-06-30   m8737e108  TARO PHARMACEUTICAL INDS LTD      541
2018-06-30   m87915274       TOWER SEMICONDUCTOR LTD    14800
2018-06-30   m9068e105  SODASTREAM INTERNATIONAL LTD     7186
2018-06-30   m96088105             UROGEN PHARMA LTD      745
2018-06-30   m96883109        VASCULAR BIOGENICS LTD       29
2018-06-30   m98068105                   WIX COM LTD    56261
2018-06-30   n00985106            AERCAP HOLDINGS NV      206
2018-06-30   n20146101                  CIMPRESS N V    11715
2018-06-30   n20944109                  CNH INDL N V     3252
2018-06-30   n22717107         CORE LABORATORIES N V     3344
2018-06-30   n3167y103                   FERRARI N V     2034
2018-06-30   n47279109         INTERXION HOLDING N.V    22151
2018-06-30   n53745100   LYONDELLBASELL INDUSTRIES N    32721
2018-06-30   n5749r100                     MERUS N V      713
2018-06-30   n59465109                     MYLAN N V     5656
2018-06-30   n72482123                     QIAGEN NV    14103
2018-06-30   n96617118          WRIGHT MED GROUP N V      682
2018-06-30   n97284108                    YANDEX N V    68858
2018-06-30   p31076105              COPA HOLDINGS SA    32239
2018-06-30   y11082107  CAPITAL PRODUCT PARTNERS L P     1156
2018-06-30   y2066g104            DIANA SHIPPING INC      866
2018-06-30   y2187a143       EAGLE BULK SHIPPING INC     2745
2018-06-30   y2573f102                      FLEX LTD    38645
2018-06-30   y2685t131  GENCO SHIPPING & TRADING LTD     3191
2018-06-30   y62267102  NAVIOS MARITIME PARTNERS L P      209
2018-06-30   y7388l103              SAFE BULKERS INC     1232
2018-06-30   y7546a122           SCORPIO BULKERS INC      874
2018-06-30   y8162k204       STAR BULK CARRIERS CORP      996

[140965 rows x 3 columns]

In [7]:
#Sets variables that will be used to loop through each report_date and select the top 20 by notional value
looper = summed_df.report_date.value_counts().index
top_df = pd.DataFrame(columns=['report_date', 'cusip', 'sh_name', 'val1000'])

In [8]:
for x in looper:
    top_df = top_df.append(summed_df[(summed_df.report_date == x)].nlargest(20, 'val1000'))

In [9]:
top_df = top_df.sort_values(['report_date', 'val1000'], ascending=[False, False]).reset_index().drop('index', axis=1)

## Now, the goal is to pull back stock tickers for all of the stocks that appear in our 420 row dataframe.  

#### This is a somewhat complicated task as stocks can undergo certain changes (which is why CUSIPS are often used as an identifier.

#### Fidelity seems to be the only free source of a cusip lookup, so I will first scrape there.  If there aren't too many NaNs after scraping Fidelity, I'll just figure out the rest of the tickers by hand.  If there are a lot, then I'll try some other automated solution.

In [ ]:
# creates a list of unique cusips.
cusips = list(top_df.cusip.unique())

In [ ]:
cusips[:5]

In [ ]:
url1 = 'https://quotes.fidelity.com/mmnet/SymLookup.phtml?reqforlookup=REQUESTFORLOOKUP&productid=mmnet&isLoggedIn=mmnet&rows=50&for=stock&by=cusip&criteria='
url2 = '&submit=Search'
ticker = []

for cusip in cusips:
    response = requests.get(url1+cusip+url2, verify=False)
    time.sleep(2)
    soup = BeautifulSoup(response.text, 'html.parser')
    try:
        ticker.append(soup.find('td', {'align':'center'}).get_text())
    except:
        ticker.append(cusip+'Not Found')

In [10]:
#cusip_ticker = pd.DataFrame({'cusip':cusips, 'tickers':ticker})
cusip_ticker = pd.read_csv('cusip_ticker.csv')  
cusip_ticker.columns=['d', 'cusip', 'ticker']
cusip_ticker.drop('d', axis=1)

        cusip ticker
0   949746101    WFC
1   500754106    KHC
2   191216100     KO
3   459200101    IBM
4   025816109    AXP
5   037833100   AAPL
6   451100101    IEP
7   78462F953    SPY
8   594918104   MSFT
9   742718109     PG
10  78462F903    SPY
11  718546104    PSX
12  902973304    USB
13  009158106    APD
14  91911K102    VRX
15  00206R102      T
16  031162100   AMGN
17  931142103    WMT
18  713448108    PEP
19  717081103    PFE
20  137833100   AAPL
21  25490A309    DTV
22  922042858    VWO
23  278642103   EBAY
24  37045V100     GM
25  026874784    AIG
26  G0177J108    AGN
27  023135106   AMZN
28  G5960L103    MDT
29  018490102    AGN
..        ...    ...
35  23918K108    DVA
36  166764100    CVX
37  071813109    BAX
38  060505104    BAC
39  46090E103    QQQ
40  30303M102     FB
41  02079K305  GOOGL
42  01609W102   BABA
43  64110L106   NFLX
44  09857L108   BKNG
45  464287655    IWM
46  73935A104    QQQ
47  38141G104     GS
48  741503403   PCLN
49  247361702    DAL
50  369604103     GE
51  02079K107   GOOG
52  436440101   HOLX
53  30231G102    XOM
54  12662P108    CVI
55  464287234    EEM
56  345838106    FRX
57  585055106    MDT
58  260543103   DWDP
59  13645T100     CP
60  24702R101   DELL
61  984332106   YHOO
62  615369105    MCO
63  20825C104    COP
64  313549404   FDML

[65 rows x 2 columns]

In [11]:
cusip_ticker[cusip_ticker.ticker.str.contains('Not')]
cusip_ticker.iloc[7,2] = 'SPY' 
cusip_ticker.iloc[10,2] = 'SPY' 
cusip_ticker.iloc[14,2] = 'VRX' #Company acquired by Bausch and Lomb 
cusip_ticker.iloc[20,2] = 'AAPL' #Looks like a miskey by the 13F filer
cusip_ticker.iloc[21,2] = 'DTV' #Company acquired by AT&T
cusip_ticker.iloc[29,2] = 'AGN' #Company acquired
cusip_ticker.iloc[33,2] = 'EMC' #Company acquired
cusip_ticker.iloc[46,2] = 'QQQ' #Fidelity tool not able to handle ETFs
cusip_ticker.iloc[48,2] = 'PCLN' #Company acquired by Bausch and Lomb 
cusip_ticker.iloc[56,2] = 'FRX' #Company acquired 
cusip_ticker.iloc[57,2] = 'MDT' #Company acquired 
cusip_ticker.iloc[58,2] = 'DWDP' #Company acquired 
cusip_ticker.iloc[60,2] = 'DELL' #Company went private 
cusip_ticker.iloc[61,2] = 'YHOO' #Company acquired 
cusip_ticker.iloc[64,2] = 'FDML' #Company went private

In [12]:
cusip_ticker.head()

   d      cusip ticker
0  0  949746101    WFC
1  1  500754106    KHC
2  2  191216100     KO
3  3  459200101    IBM
4  4  025816109    AXP

In [13]:
%env ALPHAVANTAGE_API_KEY = XXXXXXXXXXXX

env: ALPHAVANTAGE_API_KEY=XXXXXXXXXXXX

In [14]:
API = %env ALPHAVANTAGE_API_KEY
ts = TimeSeries(key='API', output_format='pandas', indexing_type='date')

In [15]:
alpha_data, alpha_meta_data = ts.get_daily_adjusted(symbol='WFC', outputsize='full')

SSLError: HTTPSConnectionPool(host='www.alphavantage.co', port=443): Max retries exceeded with url: /query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=WFC&outputsize=full&apikey=API&datatype=json (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'ssl3_get_server_certificate', 'certificate verify failed')],)",),))

## The above "alpha_data" dataframe came from the alphavantage API.  It had survivorship bias, so I instead just sourced the data directly from work, in the "prices" dataframe below.  This dataframe has unadjusted close prices only, but given the infrequency of my strategy's trading, the likelihood of corporate actions having a significant effect is low.

In [16]:
prices = pd.read_csv('13F_prices.txt', index_col=0, header=None, names=['date', 'ticker', 'price'])
prices.reset_index(inplace=True)

In [17]:
top_df = pd.merge(top_df, cusip_ticker, how='left', on='cusip').drop('d', axis=1)

In [18]:
top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 5 columns):
report_date    420 non-null datetime64[ns]
cusip          420 non-null object
sh_name        420 non-null object
val1000        420 non-null object
ticker         420 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.7+ KB

In [19]:
top_df['buy_date'] = top_df['report_date'].apply(lambda x: x +  timedelta(days=44) + BDay(1))

In [20]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71214 entries, 0 to 71213
Data columns (total 3 columns):
date      71214 non-null object
ticker    71214 non-null object
price     71214 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.6+ MB

In [22]:
prices['date'] = pd.to_datetime(prices.date)

In [23]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71214 entries, 0 to 71213
Data columns (total 3 columns):
date      71214 non-null datetime64[ns]
ticker    71214 non-null object
price     71214 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.6+ MB

In [21]:
top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 6 columns):
report_date    420 non-null datetime64[ns]
cusip          420 non-null object
sh_name        420 non-null object
val1000        420 non-null object
ticker         420 non-null object
buy_date       420 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 23.0+ KB

In [24]:
top_df.head()

  report_date      cusip               sh_name   val1000 ticker   buy_date
0  2018-06-30  037833100             APPLE INC  54835353   AAPL 2018-08-14
1  2018-06-30  78462F103   SPDR S&P 500 ETF TR  29281034    SPY 2018-08-14
2  2018-06-30  949746101  WELLS FARGO & CO NEW  25059643    WFC 2018-08-14
3  2018-06-30  060505104        BANK AMER CORP  21612437    BAC 2018-08-14
4  2018-06-30  500754106        KRAFT HEINZ CO  20906754    KHC 2018-08-14

In [25]:
prices.head()

        date            ticker       price
0 2013-07-01  AAPL              409.220001
1 2013-07-01  AGN               125.440002
2 2013-07-01  AIG                45.090000
3 2013-07-01  AMGN               97.489998
4 2013-07-01  AMZN              282.100000

In [26]:
pd.merge(top_df, prices, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'date'])

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
0,2018-06-30,037833100,APPLE INC,54835353,AAPL,2018-08-14,NaT,NaN
1,2018-06-30,78462F103,SPDR S&P 500 ETF TR,29281034,SPY,2018-08-14,NaT,NaN
2,2018-06-30,949746101,WELLS FARGO & CO NEW,25059643,WFC,2018-08-14,NaT,NaN
3,2018-06-30,060505104,BANK AMER CORP,21612437,BAC,2018-08-14,NaT,NaN
4,2018-06-30,500754106,KRAFT HEINZ CO,20906754,KHC,2018-08-14,NaT,NaN
5,2018-06-30,191216100,COCA COLA CO,18764843,KO,2018-08-14,NaT,NaN
6,2018-06-30,023135106,AMAZON COM INC,18040550,AMZN,2018-08-14,NaT,NaN
7,2018-06-30,025816109,AMERICAN EXPRESS CO,15349606,AXP,2018-08-14,NaT,NaN
8,2018-06-30,451100101,ICAHN ENTERPRISES LP,11826854,IEP,2018-08-14,NaT,NaN
9,2018-06-30,594918104,MICROSOFT CORP,10012998,MSFT,2018-08-14,NaT,NaN
10,2018-06-30,46090E103,INVESCO QQQ TR,8792866,QQQ,2018-08-14,NaT,NaN
11,2018-06-30,30303M102,FACEBOOK INC,7889607,FB,2018-08-14,NaT,NaN
12,2018-06-30,902973304,US BANCORP DEL,5900933,USB,2018-08-14,NaT,NaN
13,2018-06-30,02079K305,ALPHABET INC,5628594,GOOGL,2018-08-14,NaT,NaN
14,2018-06-30,01609W102,ALIBABA GROUP HLDG LTD,5567397,BABA,2018-08-14,NaT,NaN
15,2018-06-30,949746101,WELLS FARGO CO NEW,4927435,WFC,2018-08-14,NaT,NaN
16,2018-06-30,64110L106,NETFLIX INC,4726743,NFLX,2018-08-14,NaT,NaN
17,2018-06-30,09857L108,BOOKING HLDGS INC,4713032,BKNG,2018-08-14,NaT,NaN
18,2018-06-30,464287655,ISHARES TR,4514721,IWM,2018-08-14,NaT,NaN
19,2018-06-30,46625H100,JPMORGAN CHASE & CO,4413777,JPM,2018-08-14,NaT,NaN
20,2018-03-31,037833100,APPLE INC,47923184,AAPL,2018-05-15,NaT,NaN
21,2018-03-31,78462F103,SPDR S&P 500 ETF TR,37066795,SPY,2018-05-15,NaT,NaN
22,2018-03-31,949746101,WELLS FARGO & CO NEW,23925858,WFC,2018-05-15,NaT,NaN
23,2018-03-31,060505104,BANK AMER CORP,22663295,BAC,2018-05-15,NaT,NaN
24,2018-03-31,500754106,KRAFT HEINZ CO,20632060,KHC,2018-05-15,NaT,NaN
25,2018-03-31,191216100,COCA COLA CO,18753685,KO,2018-05-15,NaT,NaN
26,2018-03-31,025816109,AMERICAN EXPRESS CO,14527235,AXP,2018-05-15,NaT,NaN
27,2018-03-31,023135106,AMAZON COM INC,13610132,AMZN,2018-05-15,NaT,NaN
28,2018-03-31,594918104,MICROSOFT CORP,9970413,MSFT,2018-05-15,NaT,NaN
29,2018-03-31,73935A104,POWERSHARES QQQ TRUST,9494668,QQQ,2018-05-15,NaT,NaN
...,...,...,...,...,...,...,...,...
390,2013-09-30,464287234,ISHARES,3019285,EEM,2013-11-14,NaT,NaN
391,2013-09-30,902973304,US BANCORP DEL,2992824,USB,2013-11-14,NaT,NaN
392,2013-09-30,13645T100,CANADIAN PAC RY LTD,2973301,CP,2013-11-14,NaT,NaN
393,2013-09-30,12662P108,CVR ENERGY INC,2771564,CVI,2013-11-14,NaT,NaN
394,2013-09-30,037833100,APPLE INC,2753258,AAPL,2013-11-14,NaT,NaN
395,2013-09-30,009158106,AIR PRODS & CHEMS INC,2223424,APD,2013-11-14,NaT,NaN
396,2013-09-30,25490A309,DIRECTV,2211820,DTV,2013-11-14,NaT,NaN
397,2013-09-30,313549404,FEDERAL MOGUL CORP,2035891,FDML,2013-11-14,NaT,NaN
398,2013-09-30,64110L106,NETFLIX INC,2010850,NFLX,2013-11-14,NaT,NaN
399,2013-09-30,37045V100,GENERAL MTRS CO,1843614,GM,2013-11-14,NaT,NaN
400,2013-06-30,949746101,WELLS FARGO & CO NEW,19599030,WFC,2013-08-14,NaT,NaN
401,2013-06-30,191216100,COCA COLA CO,16721876,KO,2013-08-14,NaT,NaN
402,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13557442,IBM,2013-08-14,NaT,NaN
403,2013-06-30,025816109,AMERICAN EXPRESS CO,11452604,AXP,2013-08-14,NaT,NaN
404,2013-06-30,451100101,ICAHN ENTERPRISES LP,7219791,IEP,2013-08-14,NaT,NaN
405,2013-06-30,742718109,PROCTER & GAMBLE CO,6954607,PG,2013-08-14,NaT,NaN
406,2013-06-30,922042858,VANGUARD INTL EQUITY INDEX F,3848038,VWO,2013-08-14,NaT,NaN
407,2013-06-30,931142103,WAL MART STORES INC,3668426,WMT,2013-08-14,NaT,NaN
408,2013-06-30,12662P108,CVR ENERGY INC,3416439,CVI,2013-08-14,NaT,NaN
409,2013-06-30,78462F103,SPDR S&P 500 ETF TR,3179348,SPY,2013-08-14,NaT,NaN
410,2013-06-30,464287234,ISHARES TR,3143982,EEM,2013-08-14,NaT,NaN
411,2013-06-30,902973304,US BANCORP DEL,3000228,USB,2013-08-14,NaT,NaN
412,2013-06-30,13645T100,CANADIAN PAC RY LTD,2957935,CP,2013-08-14,NaT,NaN
413,2013-06-30,24702R101,DELL INC,2450000,DELL,2013-08-14,NaT,NaN
414,2013-06-30,25490A309,DIRECTV,2355000,DTV,2013-08-14,NaT,NaN
415,2013-06-30,984332106,YAHOO INC,1978203,YHOO,2013-08-14,NaT,NaN
416,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1836121,DVA,2013-08-14,NaT,NaN
417,2013-06-30,718546104,PHILLIPS 66,1793172,PSX,2013-08-14,NaT,NaN
418,2013-06-30,615369105,MOODYS CORP,1592970,MCO,2013-08-14,NaT,NaN
419,2013-06-30,20825C104,CONOCOPHILLIPS,1511450,COP,2013-08-14,NaT,NaN

### I found it weird that the above didn't work.  I spent a lot of time converting the datetime objects using various modules from pd.datetime and datetime.  Eventually, I figured out that there was whitespace in the prices.ticker column.

In [27]:
prices['ticker']=prices['ticker'].str.strip()

In [61]:
merged = pd.merge(top_df, prices, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'date'])

In [62]:
bad_tickers = merged[merged['price'].isna()].ticker.unique()
bad_dates = merged[merged.date.isna()].buy_date.unique()

In [63]:
bad_tickers

array(['IEP', 'QQQ', 'IWM', 'GOOG', 'PCLN', 'VWO', 'EMC', 'AGN', 'VRX',
       'DTV', 'SPY', 'DWDP'], dtype=object)

In [64]:
prices[(prices.date.isin(bad_dates))&(prices.ticker=='IEP')]

            date ticker  price
26629 2015-05-15    IEP  91.85

In [72]:
merged_nulls = merged[merged['price'].isna()]
merged_nulls = merged_nulls.drop(['date', 'price'], axis=1)

### Based on the way I pulled price data, it's possible that just shifting by a day might get me prices close enough to what I need

In [73]:
merged_nulls.buy_date = merged_nulls.buy_date.apply(lambda x: x + BDay(1))

In [74]:
merged_nulls = pd.merge(merged_nulls, prices, how='left', left_on=['ticker', 'buy_date'], right_on=['ticker', 'date'])

In [75]:
merged_nulls.sort_values(by='ticker')

,report_date,cusip,sh_name,val1000,ticker,buy_date,date,price
27,2015-12-31,G0177J108,ALLERGAN PLC,4706704,AGN,2016-02-16,NaT,NaN
32,2015-06-30,25490A309,DIRECTV,4779892,DTV,2015-08-17,NaT,NaN
43,2014-09-30,25490A309,DIRECTV,3697653,DTV,2014-11-17,NaT,NaN
39,2014-12-31,25490A309,DIRECTV,3951832,DTV,2015-02-17,NaT,NaN
36,2015-03-31,25490A309,DIRECTV,3891948,DTV,2015-05-18,NaT,NaN
44,2014-09-30,260543103,DOW CHEM CO,3539742,DWDP,2014-11-17,NaT,NaN
25,2016-03-31,268648102,E M C CORP MASS,3939809,EMC,2016-05-17,NaT,NaN
23,2016-06-30,268648102,E M C CORP MASS,4264695,EMC,2016-08-16,NaT,NaN
8,2017-12-31,02079K107,ALPHABET INC,4300285,GOOG,2018-02-15,NaT,NaN
48,2014-03-31,451100101,ICAHN ENTERPRISES LP,10566566,IEP,2014-05-16,NaT,NaN
51,2013-12-31,451100101,ICAHN ENTERPRISES LP,11145915,IEP,2014-02-17,NaT,NaN
40,2014-09-30,451100101,ICAHN ENTERPRISES LP,11347389,IEP,2014-11-17,NaT,NaN
54,2013-09-30,451100101,ICAHN ENTERPRISES LP,8363340,IEP,2013-11-15,NaT,NaN
30,2015-06-30,451100101,ICAHN ENTERPRISES LP,9737477,IEP,2015-08-17,NaT,NaN
28,2015-09-30,451100101,ICAHN ENTERPRISES LP,7677234,IEP,2015-11-17,NaT,NaN
45,2014-06-30,451100101,ICAHN ENTERPRISES LP,10552492,IEP,2014-08-15,NaT,NaN
26,2015-12-31,451100101,ICAHN ENTERPRISES LP,7174664,IEP,2016-02-16,NaT,NaN
24,2016-03-31,451100101,ICAHN ENTERPRISES LP,7422606,IEP,2016-05-17,NaT,NaN
37,2014-12-31,451100101,ICAHN ENTERPRISES LP,10062256,IEP,2015-02-17,NaT,NaN
57,2013-06-30,451100101,ICAHN ENTERPRISES LP,7219791,IEP,2013-08-15,NaT,NaN
0,2018-06-30,451100101,ICAHN ENTERPRISES LP,11826854,IEP,2018-08-15,NaT,NaN
9,2017-09-30,451100101,ICAHN ENTERPRISES LP,8420874,IEP,2017-11-15,NaT,NaN
4,2018-03-31,451100101,ICAHN ENTERPRISES LP,9007801,IEP,2018-05-16,NaT,NaN
6,2017-12-31,451100101,ICAHN ENTERPRISES LP,8369991,IEP,2018-02-15,NaT,NaN
20,2016-09-30,451100101,ICAHN ENTERPRISES LP,6425167,IEP,2016-11-15,NaT,NaN
11,2017-06-30,451100101,ICAHN ENTERPRISES LP,7712502,IEP,2017-08-15,NaT,NaN
22,2016-06-30,451100101,ICAHN ENTERPRISES LP,6672168,IEP,2016-08-16,NaT,NaN
14,2017-03-31,451100101,ICAHN ENTERPRISES LP,7201477,IEP,2017-05-16,NaT,NaN
17,2016-12-31,451100101,ICAHN ENTERPRISES LP,7791664,IEP,2017-02-15,NaT,NaN
2,2018-06-30,464287655,ISHARES TR,4514721,IWM,2018-08-15,NaT,NaN
5,2018-03-31,464287655,ISHARES TR,4419170,IWM,2018-05-16,NaT,NaN
19,2016-12-31,741503403,PRICELINE GRP INC,3704189,PCLN,2017-02-15,NaT,NaN
12,2017-06-30,741503403,PRICELINE GRP INC,4338274,PCLN,2017-08-15,NaT,NaN
10,2017-09-30,741503403,PRICELINE GRP INC,4199291,PCLN,2017-11-15,NaT,NaN
16,2017-03-31,741503403,PRICELINE GRP INC,4007073,PCLN,2017-05-16,NaT,NaN
1,2018-06-30,46090E103,INVESCO QQQ TR,8792866,QQQ,2018-08-15,NaT,NaN
3,2018-03-31,73935A104,POWERSHARES QQQ TRUST,9494668,QQQ,2018-05-16,NaT,NaN
18,2016-12-31,73935A104,POWERSHARES QQQ TRUST,3755022,QQQ,2017-02-15,NaT,NaN
13,2017-06-30,73935A104,POWERSHARES QQQ TRUST,4330193,QQQ,2017-08-15,NaT,NaN
15,2017-03-31,73935A104,POWERSHARES QQQ TRUST,4444607,QQQ,2017-05-16,NaT,NaN
7,2017-12-31,73935A104,POWERSHARES QQQ TRUST,5140654,QQQ,2018-02-15,NaT,NaN
53,2013-12-31,78462F103,SPDR S&P 500 ETF TR,3661003,SPY,2014-02-17,NaT,NaN
47,2014-06-30,78462F103,SPDR S&P 500 ETF TR,4048758,SPY,2014-08-15,NaT,NaN
55,2013-09-30,78462F103,SPDR S&P 500 ETF TR,4144194,SPY,2013-11-15,NaT,NaN
50,2014-03-31,78462F103,SPDR S&P 500 ETF TR,3782811,SPY,2014-05-16,NaT,NaN
59,2013-06-30,78462F103,SPDR S&P 500 ETF TR,3179348,SPY,2013-08-15,NaT,NaN
42,2014-09-30,78462F103,SPDR S&P 500 ETF TR,3857050,SPY,2014-11-17,NaT,NaN
35,2015-03-31,91911K102,VALEANT PHARMACEUTICALS INTL,4331726,VRX,2015-05-18,NaT,NaN
31,2015-06-30,91911K102,VALEANT PHARMACEUTICALS INTL,4801700,VRX,2015-08-17,NaT,NaN
29,2015-09-30,91911K102,VALEANT PHARMACEUTICALS INTL,3841216,VRX,2015-11-17,NaT,NaN
46,2014-06-30,922042858,VANGUARD INTL EQUITY INDEX F,4772561,VWO,2014-08-15,NaT,NaN
41,2014-09-30,922042858,VANGUARD INTL EQUITY INDEX F,4685373,VWO,2014-11-17,NaT,NaN
38,2014-12-31,922042858,VANGUARD INTL EQUITY INDEX F,4695384,VWO,2015-02-17,NaT,NaN
49,2014-03-31,922042858,VANGUARD INTL EQUITY INDEX F,4281761,VWO,2014-05-16,NaT,NaN
34,2015-03-31,922042858,VANGUARD INTL EQUITY INDEX F,4619807,VWO,2015-05-18,NaT,NaN
52,2013-12-31,922042858,VANGUARD INTL EQUITY INDEX F,4278088,VWO,2014-02-17,NaT,NaN
33,2015-06-30,922042858,VANGUARD INTL EQUITY INDEX F,4650241,VWO,2015-08-17,NaT,NaN
58,2013-06-30,922042858,VANGUARD INTL EQUITY INDEX F,3848038,VWO,2013-08-15,NaT,NaN
56,2013-09-30,922042858,VANGUARD INTL EQUITY INDEX F,4077763,VWO,2013-11-15,NaT,NaN
21,2016-09-30,922042858,VANGUARD INTL EQUITY INDEX F,3030101,VWO,2016-11-15,NaT,NaN

## There aren't too many of these, so I'm just going to pull them from Yahoo