In [101]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [154]:
ames = pd.read_csv('data/ames_housing.csv')

In [103]:
ames.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [104]:
ames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

## This is a huge dataset, and I'm assuming you aren't asking us to make the best possible model, so below, I've pulled in enough features that I think are relevant and useful to a linear model.  I've also decided to simply drop nulls here since I want to see the overall improvement in the model by filling certain nulls with appropriate fills.

In [128]:
ames_orig_X = ames[['LotFrontage', 'LotArea', 'OverallQual', 'TotalBsmtSF', 'SalePrice',
                    'GrLivArea', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea', 'PoolArea', 'YrSold'
                   ]].dropna()
ames_orig_y = np.log(ames_orig_X.SalePrice)
ames_orig_X = ames_orig_X.drop('SalePrice', axis=1)

In [129]:
X_train, X_test, y_train, y_test = train_test_split(ames_orig_X, ames_orig_y)
lr.fit(X_train, y_train)
orig_pred = lr.predict(X_test)
print('RMSE is {:.4f}'.format(np.sqrt(mean_squared_error(y_test, orig_pred))))

RMSE is 0.2217

##  Even without any feature engineering or filling, the model seems to be pretty good.

In [113]:
ames['PoolArea'].value_counts()

0      1453
738       1
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64

In [114]:
ames[ames['PoolArea']!=0]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
197,198,75,RL,174.0,25419,Pave,NaN,Reg,Lvl,AllPub,...,512,Ex,GdPrv,NaN,0,3,2006,WD,Abnorml,235000
810,811,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,648,Fa,GdPrv,NaN,0,1,2006,WD,Normal,181000
1170,1171,80,RL,76.0,9880,Pave,NaN,Reg,Lvl,AllPub,...,576,Gd,GdPrv,NaN,0,7,2008,WD,Normal,171000
1182,1183,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,...,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000
1298,1299,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,160000
1386,1387,60,RL,80.0,16692,Pave,NaN,IR1,Lvl,AllPub,...,519,Fa,MnPrv,TenC,2000,7,2006,WD,Normal,250000
1423,1424,80,RL,NaN,19690,Pave,NaN,IR1,Lvl,AllPub,...,738,Gd,GdPrv,NaN,0,8,2006,WD,Alloca,274970

In [119]:
ames['PoolQC'] = ames['PoolQC'].fillna('None')

In [121]:
ames.PoolQC.value_counts()

None    1453
Gd         3
Fa         2
Ex         2
Name: PoolQC, dtype: int64

In [8]:
ames['Alley'] = ames['Alley'].fillna("None")

In [9]:
ames['Alley'].value_counts()

None    1369
Grvl      50
Pave      41
Name: Alley, dtype: int64

In [10]:
ames['FireplaceQu'].value_counts(dropna=False)

NaN    690
Gd     380
TA     313
Fa      33
Ex      24
Po      20
Name: FireplaceQu, dtype: int64

In [140]:
ames['FireplaceQu'] = ames['FireplaceQu'].fillna("None")

In [141]:
ames['MiscFeature'].value_counts()

Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64

In [142]:
ames['MiscFeature'] = ames['MiscFeature'].fillna("None")

In [166]:
ames = pd.read_csv('data/ames_housing.csv')

In [167]:
ames = ames.replace({"BsmtCond": {None:0, "No": 0, "Po": 1, "Fa": 2, "TA": 3, "Gd": 4, "Ex": 5}})
ames['BsmtCond'].value_counts(dropna=False)

3    1311
4      65
2      45
0      37
1       2
Name: BsmtCond, dtype: int64

In [168]:
ames = ames.replace({"BsmtQual" : {"No" : 0, "Po" : 1, "Fa" : 2, "TA": 3, "Gd" : 4, "Ex" : 5, None: 0}})
ames['BsmtQual'].value_counts(dropna=False)

3    649
4    618
5    121
0     37
2     35
Name: BsmtQual, dtype: int64

In [169]:
ames = ames.replace({"GarageQual" : {"None": 0, "No" : 0, "Po" : 1, "Fa" : 2, "TA": 3, "Gd" : 4, "Ex" : 5}})
ames['GarageQual'].value_counts()

3.0    1311
2.0      48
4.0      14
1.0       3
5.0       3
Name: GarageQual, dtype: int64

In [170]:
ames = ames.replace({"GarageCond" : {"None" : 0, "No" : 0, "Po" : 1, "Fa" : 2, "TA": 3, "Gd" : 4, "Ex" : 5}})
ames.GarageCond.value_counts()

3.0    1326
2.0      35
4.0       9
1.0       7
5.0       2
Name: GarageCond, dtype: int64

In [171]:
ames['PoolQC'] = ames.replace({"PoolQC" : {"None" : 0, "No" : 0, "Po" : 1, "Fa" : 2, "TA": 3, "Gd" : 4, "Ex" : 5}})
ames.PoolQC.value_counts()

1460    1
479     1
481     1
482     1
483     1
484     1
485     1
486     1
487     1
488     1
489     1
490     1
491     1
492     1
493     1
494     1
495     1
496     1
497     1
498     1
499     1
480     1
478     1
501     1
477     1
458     1
459     1
460     1
461     1
462     1
       ..
996     1
997     1
998     1
999     1
1000    1
1001    1
1002    1
983     1
982     1
981     1
970     1
962     1
963     1
964     1
965     1
966     1
967     1
968     1
969     1
971     1
980     1
972     1
973     1
974     1
975     1
976     1
977     1
978     1
979     1
1       1
Name: PoolQC, Length: 1460, dtype: int64

In [174]:
ames.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,1,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,2,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,3,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,4,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,5,NaN,NaN,0,12,2008,WD,Normal,250000

# Note to self -- life will be a lot easier if you create a subset of the ames DF containing all of the categoricals for which you want to create dummies and then just use pd.get_dummies on the whole DF, otherwise you'll have to mess around with merging.

# 

# Delete this cell before turning in assignment!

In [173]:
subclass = pd.get_dummies(ames.MSSubClass, drop_first=True)
subclass

      30   40   45   50   60   70   75   80   85   90   120  160  180  190
0       0    0    0    0    1    0    0    0    0    0    0    0    0    0
1       0    0    0    0    0    0    0    0    0    0    0    0    0    0
2       0    0    0    0    1    0    0    0    0    0    0    0    0    0
3       0    0    0    0    0    1    0    0    0    0    0    0    0    0
4       0    0    0    0    1    0    0    0    0    0    0    0    0    0
5       0    0    0    1    0    0    0    0    0    0    0    0    0    0
6       0    0    0    0    0    0    0    0    0    0    0    0    0    0
7       0    0    0    0    1    0    0    0    0    0    0    0    0    0
8       0    0    0    1    0    0    0    0    0    0    0    0    0    0
9       0    0    0    0    0    0    0    0    0    0    0    0    0    1
10      0    0    0    0    0    0    0    0    0    0    0    0    0    0
11      0    0    0    0    1    0    0    0    0    0    0    0    0    0
12      0    0    0    0    0    0    0    0    0    0    0    0    0    0
13      0    0    0    0    0    0    0    0    0    0    0    0    0    0
14      0    0    0    0    0    0    0    0    0    0    0    0    0    0
15      0    0    1    0    0    0    0    0    0    0    0    0    0    0
16      0    0    0    0    0    0    0    0    0    0    0    0    0    0
17      0    0    0    0    0    0    0    0    0    1    0    0    0    0
18      0    0    0    0    0    0    0    0    0    0    0    0    0    0
19      0    0    0    0    0    0    0    0    0    0    0    0    0    0
20      0    0    0    0    1    0    0    0    0    0    0    0    0    0
21      0    0    1    0    0    0    0    0    0    0    0    0    0    0
22      0    0    0    0    0    0    0    0    0    0    0    0    0    0
23      0    0    0    0    0    0    0    0    0    0    1    0    0    0
24      0    0    0    0    0    0    0    0    0    0    0    0    0    0
25      0    0    0    0    0    0    0    0    0    0    0    0    0    0
26      0    0    0    0    0    0    0    0    0    0    0    0    0    0
27      0    0    0    0    0    0    0    0    0    0    0    0    0    0
28      0    0    0    0    0    0    0    0    0    0    0    0    0    0
29      1    0    0    0    0    0    0    0    0    0    0    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1430    0    0    0    0    1    0    0    0    0    0    0    0    0    0
1431    0    0    0    0    0    0    0    0    0    0    1    0    0    0
1432    1    0    0    0    0    0    0    0    0    0    0    0    0    0
1433    0    0    0    0    1    0    0    0    0    0    0    0    0    0
1434    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1435    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1436    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1437    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1438    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1439    0    0    0    0    1    0    0    0    0    0    0    0    0    0
1440    0    0    0    0    0    1    0    0    0    0    0    0    0    0
1441    0    0    0    0    0    0    0    0    0    0    1    0    0    0
1442    0    0    0    0    1    0    0    0    0    0    0    0    0    0
1443    1    0    0    0    0    0    0    0    0    0    0    0    0    0
1444    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1445    0    0    0    0    0    0    0    0    1    0    0    0    0    0
1446    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1447    0    0    0    0    1    0    0    0    0    0    0    0    0    0
1448    0    0    0    1    0    0    0    0    0    0    0    0    0    0
1449    0    0    0    0    0    0    0    0    0    0    0    0    1    0
1450    0    0    0    0    0    0    0    0    0    1    0    0    0    0
1451    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1452    0    0    0    0    0    0    0    0    0    0    0    0    1    0
1453    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1454    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1455    0    0    0    0    1    0    0    0    0    0    0    0    0    0
1456    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1457    0    0    0    0    0    1    0    0    0    0    0    0    0    0
1458    0    0    0    0    0    0    0    0    0    0    0    0    0    0
1459    0    0    0    0    0    0    0    0    0    0    0    0    0    0

[1460 rows x 14 columns]

In [27]:
ames['BasementOverall'] = ames['BsmtCond'] * ames['BsmtQual']

In [28]:
ames['PoolOverall'] = ames['PoolArea'] * ames['PoolQC']

In [30]:
ames['GarageOverall'] = ames['GarageCond'] * ames['GarageArea'] * ames['GarageCars']

**PROBLEMS**


Continue to add additional features that combine other existing ones in a sensible way.  Here are a few additional ideas:

```python
ames['OverallGrade'] = ames['OverallQual'] * ames['OverallCond']
ames['GarageOverall'] = ames['GarageQual'] * ames['GarageCond']
ames['PoolOverall'] = ames['PoolArea'] * ames['PoolQC']
```

Be sure you've coded these as numeric vectors before creating columns based on arithmetic involving them.  Finally, make sure you can succinctly carry out and communicate these transformations.  Take all of your numerical columns and investigate their correlation with our target sales.

In [37]:
ames_orig = pd.read_csv('data/ames_housing.csv')
ames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 84 columns):
Id                 1460 non-null int64
MSSubClass         1460 non-null int64
MSZoning           1460 non-null object
LotFrontage        1201 non-null float64
LotArea            1460 non-null int64
Street             1460 non-null object
Alley              1460 non-null object
LotShape           1460 non-null object
LandContour        1460 non-null object
Utilities          1460 non-null object
LotConfig          1460 non-null object
LandSlope          1460 non-null object
Neighborhood       1460 non-null object
Condition1         1460 non-null object
Condition2         1460 non-null object
BldgType           1460 non-null object
HouseStyle         1460 non-null object
OverallQual        1460 non-null int64
OverallCond        1460 non-null int64
YearBuilt          1460 non-null int64
YearRemodAdd       1460 non-null int64
RoofStyle          1460 non-null object
RoofMatl           1460 non-null object
Exterior1st        1460 non-null object
Exterior2nd        1460 non-null object
MasVnrType         1452 non-null object
MasVnrArea         1452 non-null float64
ExterQual          1460 non-null object
ExterCond          1460 non-null object
Foundation         1460 non-null object
BsmtQual           1460 non-null int64
BsmtCond           1460 non-null int64
BsmtExposure       1422 non-null object
BsmtFinType1       1423 non-null object
BsmtFinSF1         1460 non-null int64
BsmtFinType2       1422 non-null object
BsmtFinSF2         1460 non-null int64
BsmtUnfSF          1460 non-null int64
TotalBsmtSF        1460 non-null int64
Heating            1460 non-null object
HeatingQC          1460 non-null object
CentralAir         1460 non-null object
Electrical         1459 non-null object
1stFlrSF           1460 non-null int64
2ndFlrSF           1460 non-null int64
LowQualFinSF       1460 non-null int64
GrLivArea          1460 non-null int64
BsmtFullBath       1460 non-null int64
BsmtHalfBath       1460 non-null int64
FullBath           1460 non-null int64
HalfBath           1460 non-null int64
BedroomAbvGr       1460 non-null int64
KitchenAbvGr       1460 non-null int64
KitchenQual        1460 non-null object
TotRmsAbvGrd       1460 non-null int64
Functional         1460 non-null object
Fireplaces         1460 non-null int64
FireplaceQu        1460 non-null object
GarageType         1379 non-null object
GarageYrBlt        1379 non-null float64
GarageFinish       1379 non-null object
GarageCars         1460 non-null int64
GarageArea         1460 non-null int64
GarageQual         1460 non-null object
GarageCond         1460 non-null object
PavedDrive         1460 non-null object
WoodDeckSF         1460 non-null int64
OpenPorchSF        1460 non-null int64
EnclosedPorch      1460 non-null int64
3SsnPorch          1460 non-null int64
ScreenPorch        1460 non-null int64
PoolArea           1460 non-null int64
PoolQC             1460 non-null int64
Fence              281 non-null object
MiscFeature        1460 non-null object
MiscVal            1460 non-null int64
MoSold             1460 non-null int64
YrSold             1460 non-null int64
SaleType           1460 non-null object
SaleCondition      1460 non-null object
SalePrice          1460 non-null int64
BasementOverall    1460 non-null int64
PoolOverall        1460 non-null int64
GarageOverall      1460 non-null object
dtypes: float64(3), int64(40), object(41)
memory usage: 958.2+ KB

In [34]:
lr = LinearRegression()

**PROBLEM**

Using the `sklearn` implementation of `LinearRegression()`, create a test and train set from your housing data.  To begin, fit a linear model on the **Logarithm** of the sales column with the `GrLivArea` feature.  Use this as your baseline to compare your transformations to.  

Include the transformations from above into a second linear model and try it out on the test set. Did the performance improve with your adjustments and transformations? 

Add polynomial features into the mix and see if you can get better improvement still.

In [ ]:
lr =