In [34]:
import pandas as pd
import os
import re
from bs4 import BeautifulSoup

In [35]:
df = pd.DataFrame(columns=['Manager', 'Year', 'Quarter' 'name', 'shareclass', 
                           'CUSIP', 'val1000', 'share_count', 'share_or_prin', 'discretion', 
                           'sole_vote_amt', 'shared_vote_amt'])

In [36]:
filename = "final_proj_data/EngineersGate_2018_Q2.xml"
f= open(filename)
f.close
mgr_yr_qtr_ext = re.split('[_ .]', os.path.basename(filename))
mgr_yr_qtr_ext

['EngineersGate', '2018', 'Q2', 'xml']

## The below will take in a single 13F infotable, extract all of the data, and stick it into a dataframe.  The above "mgr_yr_qtr_ext" will extract the name of the investor, the year of the filing, the quarter of the filing, and the filename extension and put into a list.

## Next step is to figure out how to loop through two files and place the manager, year, and quarter into each dataframe.

In [37]:
# mgr_yr_qtr_ext = re.split('[_ .]', os.path.basename(filename))
# mgr_yr_qtr_ext[0]
mgr_name = []
year = []
quarter = []
sh_name = []
sh_class = []
cusip = []
val1000 = []
shares = []
sh_prin_type = []
discretion = []
othermgr = []
sole = []
shared = []

In [38]:
# directory = 'final_proj_data/'
# inner_df = pd.DataFrame(columns=['Manager', 'Year', 'Quarter' 'name', 'shareclass', 'CUSIP', 'val1000', 'share_count', 
#                                  'share_or_prin', 'discretion','sole_vote_amt', 'shared_vote_amt'])
# for file in os.listdir(directory):
#     filename = os.fsdecode(file)
#     soup = BeautifulSoup(open(directory+filename), "lxml")
#     record = soup.find_all('infotable')
#     for rec in record:
#         sh_name.append(rec.find('nameofissuer').text)
#         sh_class.append(rec.find('titleofclass').text)
#         cusip.append(rec.find('cusip').text)
#         val1000.append(rec.find('value').text)
#         shares.append(rec.find('sshprnamt').text)
#         sh_prin_type.append(rec.find('sshprnamttype').text)
#         discretion.append(rec.find('investmentdiscretion').text)
#         sole.append(rec.find('sole').text)
#         shared.append(rec.find('shared').text)
#         inner_df = pd.DataFrame(columns=['Manager', 'Year', 'Quarter' 'name', 'shareclass', 'CUSIP', 'val1000', 'share_count', 'share_or_prin', 'discretion', 
#                            'sole_vote_amt', 'shared_vote_amt'])
#         df.Manager =

In [39]:
directory = 'final_proj_data/'
df = pd.DataFrame(columns=['manager', 'year', 'quarter', 'sh_name', 'sh_class', 'cusip', 'val1000', 'share_count', 
                                 'share_or_prin', 'discretion','sole_vote_amt', 'shared_vote_amt'])
sh_name = []
sh_class = []
cusip = []
val1000 = []
share_count = []
share_or_prin = []
discretion = []
sole_vote_amt = []
shared_vote_amt = []
mgr_name = []
year = []
quarter = []
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    soup = BeautifulSoup(open(directory+filename), "lxml")
    record = soup.find_all('infotable')
    for rec in record:
        mgr_name.append(re.split('[_ .]', filename)[0])
        year.append(re.split('[_ .]', filename)[1])
        quarter.append(re.split('[_ .]', filename)[2])
        sh_name.append(rec.find('nameofissuer').text)
        sh_class.append(rec.find('titleofclass').text)
        cusip.append(rec.find('cusip').text)
        val1000.append(rec.find('value').text)
        share_count.append(rec.find('sshprnamt').text)
        share_or_prin.append(rec.find('sshprnamttype').text)
        discretion.append(rec.find('investmentdiscretion').text)
        sole_vote_amt.append(rec.find('sole').text)
        shared_vote_amt.append(rec.find('shared').text)

In [40]:
df['manager'] = mgr_name
df['year'] = year
df['quarter']=quarter
df['sh_name'] = sh_name
df['sh_class'] = sh_class
df['share_count'] = share_count
df['cusip'] = cusip
df['val1000'] = val1000
df['share_or_prin'] = share_or_prin
df['discretion'] = discretion
df['sole_vote_amt'] = sole_vote_amt
df['shared_vote_amt'] = shared_vote_amt

In [41]:
df.head()

,manager,year,quarter,sh_name,sh_class,cusip,val1000,share_count,share_or_prin,discretion,sole_vote_amt,shared_vote_amt
0,Berkshire,2018,Q2,AMERICAN AIRLS GROUP INC,COM,02376R102,787366,20742000,SH,DFND,20742000,0
1,Berkshire,2018,Q2,AMERICAN AIRLS GROUP INC,COM,02376R102,871190,22950200,SH,DFND,22950200,0
2,Berkshire,2018,Q2,AMERICAN AIRLS GROUP INC,COM,02376R102,38256,1007800,SH,DFND,1007800,0
3,Berkshire,2018,Q2,AMERICAN EXPRESS CO,COM,025816109,191310,1952142,SH,DFND,1952142,0
4,Berkshire,2018,Q2,AMERICAN EXPRESS CO,COM,025816109,1688089,17225400,SH,DFND,17225400,0